/* 

Name：双十一专题
Author：lotus li ming
Time:2015-1029

 */
/* LESS Document */
/* 清除浮动 */
/*常用颜色*/
/*常用字号*/
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/*边框圆角*/
/*配模式定位*/
/*下阴影*/
/*弹出窗口半透明灰*/
/*1200屏*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/*导入字体*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?kabozi');
  src: url('../fonts/icomoon.eot?#iefixkabozi') format('embedded-opentype'), url('../fonts/icomoon.woff?kabozi') format('woff'), url('../fonts/icomoon.ttf?kabozi') format('truestype'), url('../fonts/icomoon.svg?kabozi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/iconfont.woff') format('woff'), /* chrome、firefox */ url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('font/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.double11 {
  background-image: url(../images/frmDE_01.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 100%;
  background-color: #c91d45;
}
/* 共用ttl h2 */
.uicb-ttl {
  background-image: url(../images/frmDE_03.png);
  background-repeat: no-repeat;
  background-position: top center;
  color: #ffffff;
  background-size: 370px 37px;
}
.uicb-ttl h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20px  0;
}
.uicb-ttl h2 img {
  width: 38px;
  height: auto;
}
@media (min-width: 480px) {
  .uicb-ttl {
    background-size: 520px 47px;
  }
  .uicb-ttl h2 {
    font-size: 18px;
  }
}
@media (min-width: 640px) {
  .uicb-ttl {
    background-size: 708px 57px;
  }
  .uicb-ttl h2 {
    font-size: 28px;
  }
  .uicb-ttl h2 img {
    width: 48px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .uicb-ttl {
    background-size: 1200px 57px;
  }
  .uicb-ttl h2 {
    font-size: 40px;
  }
  .uicb-ttl h2 img {
    width: 65px;
    height: auto;
  }
}
/*大图*/
.db11_banner {
  padding: 20px 0;
  text-align: center;
}
.db11_banner img {
  width: 100%;
  max-width: 957px;
}
/* 倒计时 */
.ztcountdown {
  padding: 40px 10px;
}
.ztcountdown li {
  background: url(../images/timebg.png) no-repeat;
  background-size: 100% 100%;
  width: 10%;
  display: inline-block;
}
.ztcountdown li img {
  width: 90%;
  margin: 10px 5%;
}
.ztcountdown li:nth-child(2),
.ztcountdown li:nth-child(4),
.ztcountdown li:nth-child(6) {
  margin-right: 3.3% ;
}
.ztcountdown p {
  margin-top: 10px;
  color: #ffffff;
}
.ztcountdown p span {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.ztcountdown p .hour {
  margin: 0 6%;
}
.ztcountdown p .minu {
  margin-right: 6%;
}
@media (min-width: 640px) {
  .ztcountdown li {
    width: 10.5%;
  }
  .ztcountdown p span {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .ztcountdown {
    width: 768px;
    margin: 50px auto;
  }
}
/* 壕礼七重天  start */
.db11_gifts ul {
  width: 292px;
  margin: 0 auto 40px;
  *zoom: 1;
}
.db11_gifts ul:after {
  content: " ";
  clear: both;
  display: table;
}
.db11_gifts li {
  width: 100%;
  height: 233px;
  margin-bottom: 14px;
  text-align: center;
  background: url(../images/gifts_bg.png) center center no-repeat;
  float: left;
  box-sizing: border-box;
  position: relative;
  padding: 15px 10px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}
.db11_gifts li h4 {
  font-size: 20px;
}
.db11_gifts li h4 strong {
  font-size: 24px;
}
.db11_gifts li q {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background: #e60012;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: bold;
  font-size: 28px;
}
.db11_gifts li h3 {
  position: absolute;
  bottom: -18px;
  left: 50px;
  font-size: 30px;
  font-weight: bold;
}
.db11_gifts li h3 img {
  margin: -10px 0 0 -10px;
  vertical-align: middle;
  transform: scale(0.6, 0.6);
  display: inline-block;
}
@media (min-width: 640px) {
  .db11_gifts ul {
    width: 606px;
  }
  .db11_gifts li {
    width: 292px;
    height: 233px;
    margin: 0 20px 20px 0;
  }
  .db11_gifts li:nth-child(2n) {
    margin-right: 0;
  }
  .db11_gifts li:nth-child(7) {
    margin-left: 150px;
  }
}
@media (min-width: 1200px) {
  .db11_gifts ul {
    width: 1200px;
  }
  .db11_gifts li {
    width: 285px;
    height: 225px;
    margin: 0 20px 30px 0;
  }
  .db11_gifts li:nth-child(2n) {
    margin: 0 20px 30px 0;
  }
  .db11_gifts li:nth-child(1),
  .db11_gifts li:nth-child(2),
  .db11_gifts li:nth-child(3) {
    width: 383px;
    height: 263px;
    margin: 0 26px 30px 0;
  }
  .db11_gifts li:nth-child(1) h3,
  .db11_gifts li:nth-child(2) h3,
  .db11_gifts li:nth-child(3) h3 {
    bottom: -10px;
    font-size: 40px;
    left: 76px;
  }
  .db11_gifts li:nth-child(1) h3 img,
  .db11_gifts li:nth-child(2) h3 img,
  .db11_gifts li:nth-child(3) h3 img {
    transform: scale(0.8, 0.8);
    margin: -12px 0 0 -5px;
  }
  .db11_gifts li:nth-child(2) {
    margin-right: 25px;
  }
  .db11_gifts li:nth-child(3),
  .db11_gifts li:nth-child(7) {
    margin: 0 0 30px 0!important;
  }
}
.db11_goods1 {
  margin-bottom: 60px;
}
.db11_goods1 ul {
  width: 99%;
  margin: 0 auto;
}
.db11_goods1 ul li {
  background: #c6112e;
  margin-bottom: 20px;
  height: 78px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  *zoom: 1;
}
.db11_goods1 ul li:after {
  content: " ";
  clear: both;
  display: table;
}
.db11_goods1 ul li p {
  color: #ffffff;
  padding-top: 10px;
  line-height: 22px;
  font-size: 12px;
}
.db11_goods1 ul li p strong {
  font-size: 14px;
}
.db11_goods1 ul li h3 {
  font-size: 18px;
  background: url(../images/double_01.png) right 0 no-repeat;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover!important;
  -ms-background-size: cover!important;
  -o-background-size: cover!important;
  font-weight: bold;
  width: 160px;
  line-height: 78px;
  box-sizing: border-box;
  position: relative;
  color: #c91d45;
  float: left;
  padding-left: 5px;
}
.db11_goods1 ul li h3 img {
  transform: scale(0.3, 0.3);
  -o-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
  -moz-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  vertical-align: middle;
  margin: -7px 0 0 -28px;
}
.db11_goods1 ul li em {
  display: none;
}
.db11_goods1 ul li:nth-child(2) h3 {
  background: url(../images/double_02.png) right 0 no-repeat;
}
.db11_goods1 ul li:nth-child(3) h3 {
  background: url(../images/double_03.png) right 0 no-repeat;
}
.db11_goods1 ul li:nth-child(5) h3 {
  background: url(../images/double_04.png) right 0 no-repeat;
}
.db11_goods1 ul li:last-child h3 {
  background: url(../images/double5.png) right 0 no-repeat;
}
@media (min-width: 640px) {
  .db11_goods1 ul {
    width: 90%;
  }
  .db11_goods1 ul li {
    height: 160px;
  }
  .db11_goods1 ul li h3 {
    font-size: 36px;
    width: 335px;
    line-height: 160px;
    padding-left: 15px;
  }
  .db11_goods1 ul li h3 img {
    transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    margin: -14px 0 0 -10px;
  }
  .db11_goods1 ul li .long {
    padding-top: 18px;
    line-height: 30px;
  }
  .db11_goods1 ul li p {
    padding-top: 25px;
    line-height: 36px;
    font-size: 18px;
  }
  .db11_goods1 ul li p strong {
    font-size: 22px;
  }
  .db11_goods1 ul li em {
    display: none;
  }
}
@media (min-width: 1200px) {
  .db11_goods1 ul {
    width: 1034px;
  }
  .db11_goods1 ul li {
    height: 174px;
    position: relative;
  }
  .db11_goods1 ul li h3 {
    font-size: 40px;
    width: 430px;
    line-height: 174px;
    padding-left: 25px;
  }
  .db11_goods1 ul li h3 img {
    transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    margin: -22px 0 0 10px;
  }
  .db11_goods1 ul li .long {
    line-height: 45px;
    width: 360px;
  }
  .db11_goods1 ul li p {
    padding-top: 35px;
    line-height: 45px;
    font-size: 24px;
    float: left;
  }
  .db11_goods1 ul li em {
    display: block;
    position: absolute;
    right: 30px;
    top: 10px;
  }
}
.db11_goods2 {
  *zoom: 1;
}
.db11_goods2:after {
  content: " ";
  clear: both;
  display: table;
}
.db11_goods2 ul {
  width: 296px;
  *zoom: 1;
  margin: 0 auto;
}
.db11_goods2 ul:after {
  content: " ";
  clear: both;
  display: table;
}
.db11_goods2 ul li {
  width: 230px;
  height: 156px;
  margin-bottom: 10px;
  background-color: #fff100;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
.db11_goods2 ul li p {
  width: 138px;
  height: 119px;
  float: left;
  padding: 13px;
}
.db11_goods2 ul li em {
  color: #c91d45;
  font-weight: bold;
}
.db11_goods2 ul li span {
  width: 299px;
  height: 220px;
  background: url(../images/frmDE_13.png) no-repeat;
  background-size: cover;
  transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  position: absolute;
  top: -40px;
  left: 80px;
}
.db11_goods2 ul li .IMG01 {
  background: url(../images/frmDE_14.png) no-repeat;
  background-size: 100%;
}
.db11_goods2 ul li .IMG02 {
  background: url(../images/frmDE_15.png) no-repeat;
  background-size: 100%;
}
.db11_goods2 ul li .IMG03 {
  background: url(../images/frmDE_16.png) no-repeat;
  background-size: 100%;
}
@media (min-width: 640px) {
  .db11_goods2 {
    margin-top: 30px;
  }
  .db11_goods2 ul {
    width: 706px;
  }
  .db11_goods2 ul li {
    width: 268px;
    height: 188px;
    float: left;
    font-size: 16px;
  }
  .db11_goods2 ul li p {
    width: 150px;
  }
  .db11_goods2 ul li:nth-child(2n+1) {
    margin-right: 14%;
  }
  .db11_goods2 ul li span {
    transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    top: -20px;
    left: 108px;
  }
}
@media (min-width: 1200px) {
  .db11_goods2 {
    *zoom: 1;
  }
  .db11_goods2:after {
    content: " ";
    clear: both;
    display: table;
  }
  .db11_goods2 ul {
    width: 1200px;
  }
  .db11_goods2 ul li {
    width: 455px;
    height: 265px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 160px;
    font-size: 20px;
  }
  .db11_goods2 ul li p {
    width: 255px;
    padding: 18px;
  }
  .db11_goods2 ul li:last-child {
    padding-right: 170px;
  }
  .db11_goods2 ul li span {
    transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    top: 18px;
    left: 290px;
  }
}
.db11_goods3 {
  padding: 80px 6px;
  *zoom: 1;
}
.db11_goods3:after {
  content: " ";
  clear: both;
  display: table;
}
.db11_goods3 ul {
  width: 314px;
  height: 410px;
  margin: 0 auto;
}
.db11_goods3 ul li {
  width: 152px;
  height: 427px;
  float: left;
  margin-bottom: 5px;
  background: url(../images/frm4.png) no-repeat;
  background-size: cover;
  text-align: center;
  margin-right: 5px;
}
.db11_goods3 ul li img {
  display: block;
  width: 66px;
  margin: 0 auto;
}
.db11_goods3 ul li p {
  margin-top: 41%;
}
.db11_goods3 ul li em {
  height: 35px;
  display: block;
  color: #c91d45;
  font-weight: bold;
  margin: 20px auto;
  font-size: 16px;
}
.db11_goods3 ul li i {
  font-weight: bold;
  height: 40px;
}
.db11_goods3 ul li:nth-child(2n+1) {
  color: #ffffff;
}
.db11_goods3 ul li:nth-child(2n) {
  background: url(../images/frm3.png) no-repeat;
  background-size: cover;
}
.db11_goods3 ul li:nth-child(2n) em {
  color: #ffffff;
}
@media (min-width: 640px) {
  .db11_goods3 ul {
    width: 560px;
    *zoom: 1;
    margin: 0 auto;
  }
  .db11_goods3 ul:after {
    content: " ";
    clear: both;
    display: table;
  }
  .db11_goods3 ul li {
    width: 180px;
    height: 473px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .db11_goods3 ul {
    width: 1000px;
    *zoom: 1;
    margin: 0 auto;
  }
  .db11_goods3 ul:after {
    content: " ";
    clear: both;
    display: table;
  }
  .db11_goods3 ul li {
    width: 190px;
    height: 540px;
  }
  .db11_goods3 ul li p {
    margin-top: 49%;
    font-size: 16px;
  }
  .db11_goods3 ul li p i {
    font-size: 18px;
  }
  .db11_goods3 ul li em {
    font-size: 18px;
  }
}
.db11_gd4 {
  *zoom: 1;
}
.db11_gd4:after {
  content: " ";
  clear: both;
  display: table;
}
.db11_gd4 ul {
  width: 300px;
  margin: 0 auto;
}
.db11_gd4 ul li {
  width: 145px;
  height: 376px;
}
@media (min-width: 640px) {
  .db11_gd4 {
    *zoom: 1;
  }
  .db11_gd4:after {
    content: " ";
    clear: both;
    display: table;
  }
  .db11_gd4 ul {
    width: 600px;
    margin: 0 auto;
  }
  .db11_gd4 ul li {
    width: 180px;
    height: 480px;
  }
}
@media (min-width: 1200px) {
  .db11_gd5 {
    *zoom: 1;
  }
  .db11_gd5:after {
    content: " ";
    clear: both;
    display: table;
  }
  .db11_gd5 ul {
    width: 600px;
    margin: 0 auto;
  }
  .db11_gd5 ul li {
    width: 180px;
    height: 480px;
  }
  .db11_gd5 ul li:nth-child(n) {
    margin-right: 20px;
  }
}
/* 友情链接 start */
.db11_friends {
  margin-top: 20px;
}
.db11_friends ul {
  *zoom: 1;
  width: 314px;
  margin: 0 auto;
}
.db11_friends ul:after {
  content: " ";
  clear: both;
  display: table;
}
.db11_friends li {
  margin: 5px;
  float: left;
}
.db11_friends li div {
  display: none;
}
.db11_friends li a {
  display: block;
  width: 147px;
  height: 100px;
  background: url(../images/friends_01.png) center center no-repeat;
  background-size: cover!important;
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -ms-background-size: cover!important;
  -o-background-size: cover!important;
}
.db11_friends li:nth-child(2) a {
  background: url(../images/friends_02.png) center center no-repeat;
}
.db11_friends li:nth-child(3) a {
  background: url(../images/friends_03.png) center center no-repeat;
}
.db11_friends li:nth-child(4) a {
  background: url(../images/friends_04.png) center center no-repeat;
}
@media (min-width: 480px) {
  .db11_friends ul {
    width: 480px;
  }
  .db11_friends li a {
    width: 230px;
    height: 150px;
  }
}
@media (min-width: 640px) {
  .db11_friends ul {
    width: 98%;
  }
  .db11_friends li {
    width: 24%;
    margin: 0.5% 0.5% 0 0.5%;
  }
  .db11_friends li a {
    width: 100%;
    height: 85px;
    padding: 10% 0;
  }
}
@media (min-width: 1200px) {
  .db11_friends {
    margin-top: 120px;
  }
  .db11_friends ul {
    width: 1200px;
  }
  .db11_friends li {
    width: 290px;
    margin: 5px 5px 0 5px;
    position: relative;
  }
  .db11_friends li a {
    height: 194px;
    padding: 0;
  }
  .db11_friends li div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 220px;
    background: #2d0000;
    text-align: center;
    padding: 50px 0 30px;
  }
  .db11_friends li div i {
    width: 40px;
    height: 40px;
    background: #ffa800;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -20px;
    color: #e80d11;
    font-size: 24px;
    line-height: 40px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .db11_friends li div a {
    background-image: none!important;
    color: #ffffff;
    width: 140px;
    height: 45px;
    background: #c91d45!important;
    margin: 30px auto 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .db11_friends li div h3 {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
  }
  .db11_friends li div h4 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
    color: #c91d45;
  }
  .db11_friends li:hover div {
    display: block;
  }
}
