@import "variable.less";
@import "proaside.less";


/*导入字体*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kabozi');　
	src:url('fonts/icomoon.eot?#iefixkabozi') format('embedded-opentype'),
		url('fonts/icomoon.woff?kabozi') format('woff'),
		url('fonts/icomoon.ttf?kabozi') format('truestype'),
		url('fonts/icomoon.svg?kabozi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// 最外包裹层
.bodygreyish{
	border-top:1px solid #ddd;
	margin-top:20px;
}

// 内容包裹层
.wrap{
	overflow:hidden;
	margin:0 auto;
	width:100%;
	padding-bottom:50px;
	.crumb{
		display: block;
	    padding: 15px 20px;
	    font-size: 14px;
	    a{color:@c3;}
	    color:@c9;
	}
}
@media(min-width:1200px){
	.wrap{
		width:1200px;
		margin:0 auto;
		padding-bottom:70px;
		.crumb{padding: 15px 0;}
	}
}
// 左侧栏
.list_content{
	border:1px solid #ddd;
	box-sizing: border-box;
	padding:0 30px;
	.bdr(2px);
}
@media(min-width:992px){
	.list_content{
		overflow: hidden;
	    .left();
	}
}
@media(min-width:1200px){
	.list_content{
		width:885px!important;
	}
}
// 右侧栏
.proaside{
	display: none;
	.sideplat{
		li:hover{background: #ef3739;}
	}
	.sideguide h2, .sidefree h2, .sidelisten h2, .sideproblem h2, .sideplat h2{
		background: #f4f4f4;
	}
	.sidefree{
		.sideobtain{
			input[type="button"]{background: #ffb013;}
		}
	}
	.sidelisten{
		li{
			p{
				.pos(a);
				width:100%;
				bottom:0;
				left:0;
				text-align: center;
				color:@cw;
				line-height:30px;
				background:rgba(0, 0, 0, 0.5);
				letter-spacing:2px;
				.ellipsis();
			}
		}
	}
}
@media(min-width:992px){
	.proaside{
		display: block;
	    float: right;
	    width: 280px;
	    padding-bottom: 30px;
	    padding-left: 35px;
	}
}

/* 共用样式end */



.list_content{
	ul{
		background:@cw;
		li{
			padding:20px 0;
			border-bottom:1px solid #ddd;
			img{
				width:100%;
				height:auto;
				margin:0 auto;
				display:block;
			}
			section{
				width:100%;
				padding:10px 0;
				box-sizing: border-box;
				h2{
					.f16();
					color:@c3;
					margin-top:10px;
				}
				p{
					color:@c6;
					line-height: 24px;
					overflow: hidden;
				}
				q{line-height:30px;display: block;}
				span{
					.f12();
					color:@c9;
				}
			}
			&:hover{background:pink;}
		}
	}
	.paginator{
		.f12();
		.prev,.next{
			padding:6px 10px 5px;
			margin-left:6px;
			.pos(r);
			cursor:pointer;
			&:hover{
				border:1px solid #ef3739;
				color:#ef3739;
			}
			em{
				.pos(a);
				top:8px;
			}
		}
		.next{
			em{
				right:5px;
				.triangle(right,@w:5px,@c:#666);
			}
			&:hover{em{.triangle(right,@w:5px,@c:#ef3739);}}
		}
		.prev{
			em{
				left:5px;
				.triangle(left,@w:5px,@c:#666);
			}
			&:hover{em{.triangle(left,@w:5px,@c:#ef3739);}}
		}
		a{
			padding:6px 8px 5px;
			margin-left:6px;
		}
		a:hover{
			border:1px solid #ef3739;
			background: #ef3739;
			color:@cw;
		}
	}
}
 @media(min-width:640px){
	.list_content{
		padding:0;
		ul{
			li{
				padding:30px;
				.cf();
				border:0;
				img{
					width:35%;
					.left();
				}
				section{
					width:65%;
					padding:0 0 0 20px;
					.right();
					h2{margin:0;}
				}
			}
		}
	}
}
 @media(min-width:992px){
	.list_content{
		padding:0;
		ul{
			li{
				img{
					width:30%;
				}
				section{
					width:70%;
					q{line-height:40px;}
				}
			}
		}
	}
}
 @media(min-width:1200px){
	.list_content{
		padding:0;
		ul{
			li{padding:40px 30px;}
		}
	}
}