/* LESS Document */

/* 模块集 */

/* 基本 */
@import "../../../css/reset.less";
@import "../../../css/variable.less";
@import "../../../css/core.less";
@import "../../../css/global.less";

/* 头部及尾部 */
@import "../../../css/headfoot.less";
@import "../../../css/jMmenu.less";

/* 职业发展-就业招聘、   机构合作友情链接、全国分校 */
@import "../../../css/common.less";

/* 课程详情共用 */
@import "../../../css/classdetail.less";


/* 颜色设置 */
@import "../cfavariable.less";

@ceblue:#006C99;

html{overflow-x: hidden;}
/*导入字体*/
@font-face {
    font-family: 'icomoon';
    src:url('../../fonts/cfaexam/icomoon.eot?kabozi');　
    src:url('../../fonts/cfaexam/icomoon.eot?#iefixkabozi') format('embedded-opentype'),
        url('../../fonts/cfaexam/icomoon.woff?kabozi') format('woff'),
        url('../../fonts/cfaexam/icomoon.ttf?kabozi') format('truestype'),
        url('../../fonts/cfaexam/icomoon.svg?kabozi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mm-menu ul li a {
  color: #a18f69 !important;
  text-align: left;
  padding-left: 40px;
  box-sizing: border-box;
}
.mm-menu {
  background-image: url(../../../images/sidebarbg.png);
}
/*课程详情快捷导航*/
@media (min-width:768px){
    .cdsidenav{
        display: none;
        top: 10%;
        li{width: 80px;}
        a{ padding-right: 5px;
            text-align: right;
            background-color:#06729f;
        }
        i{color:#06729f;}
        li:hover{
            a{background-color:@c0;}
            i{color:@c0;}
        }
    }
}

@media (min-width:1400px){
    .cdsidenav{
        li{width: 100px;}
        a{padding-right: 10px;}
    }
}

body{background: #F3F3F3;}
/** main **/
.topbanner{
    background: @cc url(../../images/cfaexam/parallax.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 14%;
    color: @cw;
    width: 100%;
    .topcontent{width: 100%; padding: 0 0 80px;}
    p{
        text-align: center;
        .f14();
         box-sizing: border-box;
        strong{.f24();}
       img{  height: 70px;} 
       &:nth-child(2){padding: 20px 0 10px;}
       &:nth-child(3){.f18();}
       
       &:first-child{display: none;}
    }

    ul{
          width: 300px;
          margin: 20px auto;
          
        li{
            float: left;
            width: 140px;
            height: 35px;
            .bdr2();
            border: 2px solid @c9;
            box-sizing: border-box;
            line-height: 35px;
            text-align: center;
            margin: 10px auto;
            
            margin: 5px;
            
            a{color: @cw; }
            &:hover{background: #9c9c9c;}
        }
    }
}
@media(min-width:640px){
  .topbanner{
      .topcontent{padding: 0;}
      p{&:first-child{text-align: right; padding-right: 20px;}}
      ul{
          width: 370px;
          margin: 20px auto;
          li{
            width: 170px;
            margin:0 ;
            margin-bottom:10px; 
            &:nth-child(2n+1){margin-right: 30px;}
          }
      }
  }  
}
@media(min-width:768px){
    .topbanner{
         p{&:first-child{display: block;};}
    }
}
@media(min-width:1200px){
    .topbanner{
        padding-bottom: 8%;
    .topcontent{
        width: 1200px;
        margin: 0 auto;
        p{
         img{height: auto;}
         &:first-child{padding: 20px;}
        }
    }   
    } 
}

.gotop{display: none;}
.schoolarea{
    clear: both;
}


.secTabs2 ul{
    padding: 10px 0 0 0;
    border-bottom: 2px solid #06729f;
}
.secTabs2 li.selected, .secTabs2 li:hover{
    background: #06729f;
}
@media(min-width:640px){
    .secTabs2 h2{
        line-height: 70px;
    }
}

/** 课程中心 **/
.contentcourse{
    clear: both;
    background: @cw;
    .secTabs2 {padding: 7%;}
    .contcenter{
        width:100%;
        li{
            zoom: 1;
            width: 86%;
            margin: 7%;
            display: block;
            border: 1px solid @cd;
            box-sizing: border-box;
          em{
               display: block; 
               width: 100%; 
               height: 200px; 
               position: relative;
               background-size:cover !important;
             i{
                 position: absolute;
                 width: 100%;
                 height: 30px;
                 color: @cw;
                 background: @c0;
                 opacity: 0.7;
                 bottom: 0;
                 line-height: 30px;
                 text-align: right;
                 padding-right: 5px;
                 box-sizing: border-box;
             }
           }
           h3{
               .f18();
               font-weight: bold;
               color: #06729f;
               padding:20px 10px 10px;
           }
           p{
               .f14();
               padding: 0 10px;
               color: @c9;
               .spill3();
               height: 64px;
           }
           h4{
               padding: 20px 10px;
               height: 20px;
               .f14();
               em{display:inline-block; color: #06729f; width: auto;}
               span{
                  float: right; 
                   i{
                      font-size: 16px;
                      vertical-align: middle;
                      padding-right: 3px; 
                   }
               }
           }
           
           &:nth-child(3),&:last-child{display: none;}
           
           &:hover{background: @cd;}
         }
     }
     .contcenterundis{display: none;}
} 

@media(min-width:640px){
    .contentcourse{
    .secTabs2{margin: 0 3%; padding: 0;  padding-top: 50px;
        h2{line-height: 70px;
            padding: 0 10px;
        }
    }
    .contcenter{
        width:100%;
        li{
            width: 40%;
            float: left;
            margin: 5%;
        }
    }
 }
}
@media(min-width:768px){
    .contentcourse{
    .contcenter{
        li{
            width: 30%;
            margin: 1.6%;
            &:nth-child(3){display: block;}
        }
    }
 }
}
@media(min-width:992px){
    .contentcourse{
    .contcenter{
        li{
            width: 23%;
            margin: 1%;
            &:last-child{display: block;}
        }
    }
 }
}


footer{
  background-image: url(../../../images/footerbg.png);
}
