/* LESS Document */
/* 清除浮动 */
/*常用颜色*/
/*常用字号*/
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/*边框圆角*/
/* 圆角  */
/*配模式定位*/
/*下阴影*/
/*弹出窗口半透明灰*/
/*1200屏*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* 背景自适应 */
/*导入字体*/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?kabozi');
  src: url('fonts/icomoon.eot?#iefixkabozi') format('embedded-opentype'), url('fonts/icomoon.woff?kabozi') format('woff'), url('fonts/icomoon.ttf?kabozi') format('truestype'), url('fonts/icomoon.svg?kabozi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainheader {
  *zoom: 1;
  margin: 20px auto 0;
}
.mainheader:after {
  content: " ";
  clear: both;
  display: table;
}
.mainheader h1 {
  *zoom: 1;
  line-height: 20px;
}
.mainheader h1:after {
  content: " ";
  clear: both;
  display: table;
}
.mainheader h1 img {
  width: 120px;
  vertical-align: middle;
  float: left;
}
.mainheader h1 span {
  border-left: 1px solid #cccccc;
  margin-left: 8px;
  padding-left: 8px;
  display: none;
}
.mainheader h1 span strong {
  display: block;
  font-weight: bold;
  font-size: 20px;
}
.mainheader .serch {
  *zoom: 1;
  border: 0;
  width: 145px;
  position: absolute;
  top: -58px;
  right: 0;
}
.mainheader .serch:after {
  content: " ";
  clear: both;
  display: table;
}
.mainheader .serch input[type="text"] {
  width: 105px;
  height: 40px;
  box-sizing: border-box;
  float: left;
  outline: none;
}
.mainheader .serch input[type="submit"] {
  width: 40px;
  height: 40px;
  background: url(../images/shou_03.png) center center no-repeat;
  border: 0;
  float: left;
  text-indent: -9999em;
}
.mainheader ul {
  *zoom: 1;
  margin-top: 20px;
  position: relative;
}
.mainheader ul:after {
  content: " ";
  clear: both;
  display: table;
}
.mainheader ul li {
  float: left;
  width: 20%;
  line-height: 48px;
  border: 1px solid #cccccc;
  border-right: none;
  background-color: #f9f9f9;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.mainheader ul li a {
  line-height: 48px;
  font-size: 12px;
}
.mainheader ul .selected {
  background-color: #ffffff;
}
.mainheader ul .selected a {
  color: #d73240;
}
@media (min-width: 640px) {
  .mainheader h1 {
    padding-left: 40px;
  }
  .mainheader h1 span {
    display: inline-block;
  }
  .mainheader .serch {
    width: 240px;
    right: 40px;
  }
  .mainheader .serch input[type="text"] {
    width: 200px;
  }
  .mainheader ul a {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .mainheader {
    width: 1200px;
    margin: 0 auto;
    margin: 40px auto;
  }
  .mainheader h1 {
    padding-left: 0;
    float: left;
  }
  .mainheader h1 img {
    width: 155px;
  }
  .mainheader h1 span {
    margin-left: 15px;
    padding-left: 12px;
  }
  .mainheader ul {
    float: right;
    margin-top: 0;
    padding-right: 250px;
  }
  .mainheader ul li {
    width: auto;
    padding: 0 20px;
  }
  .mainheader ul li a {
    font-size: 16px;
  }
  .mainheader .serch {
    top: 0;
    right: 0;
    width: 250px;
    display: inherit;
    padding-right: 0;
    padding: 0;
  }
  .mainheader .serch input[type="text"] {
    height: 50px;
  }
  .mainheader .serch input[type="submit"] {
    width: 50px;
    height: 50px;
  }
}
.aboutwrap {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 30px;
}
.aboutwrap .crumb {
  display: block;
  padding: 15px 20px;
  color: #999999;
}
.aboutwrap .crumb a {
  color: #333333;
}
@media (min-width: 768px) {
  .aboutwrap .crumb {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .aboutwrap {
    width: 1200px;
    margin: 0 auto;
  }
  .aboutwrap .crumb {
    padding: 0;
  }
  .aboutwrap .crumb p span {
    padding-left: 0;
  }
}
.ab-title {
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}
.ab-title i {
  display: block;
  width: 75px;
  height: 3px;
  background-color: #ef3739;
  margin: 0 auto;
}
.ctn {
  *zoom: 1;
  background: #fff;
  box-sizing: border-box;
  padding: 30px 10px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 50px;
}
.ctn:after {
  content: " ";
  clear: both;
  display: table;
}
.ctn p {
  line-height: 26px;
  color: #666666;
  text-indent: 2em;
}
.courseStyme {
  *zoom: 1;
  padding: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
}
.courseStyme:after {
  content: " ";
  clear: both;
  display: table;
}
.courseStyme ul {
  *zoom: 1;
}
.courseStyme ul:after {
  content: " ";
  clear: both;
  display: table;
}
.courseStyme li {
  background: #f05714;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
  text-align: center;
  float: left;
  margin: 15px 0;
  width: 48%;
  height: 84px;
  padding: 30px 20px 0px;
  border: 2px solid #f05714;
  color: #f05714;
  font-weight: bold;
  box-sizing: border-box;
}
.courseStyme li:nth-child(odd) {
  margin-right: 10px;
}
.courseStyme li:hover {
  color: #fff;
  background-color: #f05714;
}
.courseStyme li:after {
  position: absolute;
  content: "";
  width: 105%;
  height: 169%;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 1;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.courseStyme li:hover:after {
  height: 0;
  opacity: 0;
}
@media (min-width: 448px) {
  .courseStyme {
    margin-top: 50px;
  }
  .courseStyme ul {
    width: 448px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .courseStyme li {
    font-size: 15px;
    width: 47%;
  }
  .courseStyme li:nth-child(odd) {
    margin-right: 16px;
  }
}
@media (min-width: 640px) {
  .courseStyme ul {
    width: 640px;
  }
  .courseStyme li {
    font-size: 16px;
    width: 30%;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .courseStyme ul {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .courseStyme ul {
    width: 100%;
  }
  .courseStyme li {
    width: 23%;
  }
}
@media (min-width: 1200px) {
  .courseStyme {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .courseStyme li {
    height: 80px;
  }
  .courseStyme li:nth-child(n) {
    margin-right: 20px;
  }
  .courseStyme li.on {
    margin-right: 0;
  }
}
.aboutus {
  background: #f8f8f8;
}
.aboutus .secTabs {
  *zoom: 1;
  background: #fcfcfc;
  float: none;
}
.aboutus .secTabs:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .secTabs ul {
  *zoom: 1;
}
.aboutus .secTabs ul:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .secTabs li {
  text-align: center;
  height: 50px;
  box-sizing: border-box;
  padding: 0 10px;
  border-bottom: 1px solid #f2f2f2;
  float: left;
}
.aboutus .secTabs li a {
  line-height: 50px;
  font-size: 14px;
}
.aboutus .secTabs li.selected {
  background: #fff;
  border-top: 2px solid #ef3739;
}
.aboutus .secTabs li.selected a {
  color: #ef3739;
}
.aboutus .JC-intro {
  *zoom: 1;
}
.aboutus .JC-intro:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-intro .vedio {
  height: 177px;
  width: 320px;
  margin: auto auto;
  background-color: #ecf0f1;
  position: relative;
  margin-bottom: 15px;
}
.aboutus .JC-intro .vedio span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.aboutus .JC-intro p {
  margin-bottom: 20px;
}
.aboutus .JC-intro .ab-history {
  *zoom: 1;
  border-top: 1px solid #dddddd;
  margin-top: 40px;
  box-sizing: border-box;
  padding-left: 48px;
}
.aboutus .JC-intro .ab-history:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-intro .ab-history ul {
  *zoom: 1;
  margin-top: 40px;
  border-left: 2px solid #f04812;
  box-sizing: border-box;
}
.aboutus .JC-intro .ab-history ul:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-intro .ab-history ul li {
  margin: 30px auto 0px;
  *zoom: 1;
  position: relative;
  padding-left: 95px;
}
.aboutus .JC-intro .ab-history ul li:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-intro .ab-history ul li em {
  display: block;
  color: #666666;
}
.aboutus .JC-intro .ab-history ul li i {
  display: inline-block;
  width: 96px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f04812;
  position: absolute;
  left: -48px;
  top: 0;
  color: #ffffff;
  font-weight: bold;
  border-radius: 7px;
}
.aboutus .JC-items {
  *zoom: 1;
  display: none;
  box-sizing: border-box;
}
.aboutus .JC-items:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-items .it-article {
  *zoom: 1;
  margin-bottom: 40px;
}
.aboutus .JC-items .it-article:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-items .it-article h3 {
  text-align: center;
  margin-bottom: 40px;
}
.aboutus .JC-items .it-article .banner1 {
  text-align: center;
  padding: 20px 0;
  overflow-x: scroll;
  *zoom: 1;
}
.aboutus .JC-items .it-article .banner1:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-items .it-article .banner2 {
  *zoom: 1;
}
.aboutus .JC-items .it-article .banner2:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-items .it-article .banner2 a {
  display: block;
  margin: 10px auto;
  text-indent: 0em;
}
.aboutus .JC-strength {
  *zoom: 1;
}
.aboutus .JC-strength:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-strength .design {
  *zoom: 1;
}
.aboutus .JC-strength .design:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-strength .design h3 {
  margin: 20px 0px;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
}
.aboutus .JC-strength .design h3 i {
  display: inline-block;
  width: 8px;
  height: 20px;
  background: #ef3739;
  margin-right: 10px;
}
.aboutus .JC-strength .design h4,
.aboutus .JC-strength .design em {
  display: block;
  width: 290px;
  clear: both;
  margin: 20px auto;
}
.aboutus .JC-strength .design h4 img,
.aboutus .JC-strength .design em img {
  width: 100%;
}
.aboutus .JC-strength .design ul {
  *zoom: 1;
  margin-left: 55px;
}
.aboutus .JC-strength .design ul:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .JC-strength .design li {
  height: 120px;
  padding-left: 100px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
  margin: 50px auto;
  border: 1px solid #dddddd;
}
.aboutus .JC-strength .design li span {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.aboutus .JC-strength .design li h5 {
  margin: 15px auto 7px;
  font-size: 16px;
  font-weight: bold;
}
.aboutus .JC-strength .design li img {
  position: absolute;
  left: -60px;
  top: 0;
}
.aboutus .JC-strength .design .licheng {
  overflow-x: scroll;
}
.aboutus .contactUs {
  *zoom: 1;
  display: none;
}
.aboutus .contactUs:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .contactUs .ct-list {
  *zoom: 1;
}
.aboutus .contactUs .ct-list:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .contactUs .ct-list ul {
  *zoom: 1;
  margin: 20px auto 0px;
  border-bottom: 1px solid #dddddd;
}
.aboutus .contactUs .ct-list ul:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .contactUs .ct-list li {
  float: left;
  padding-right: 10px;
}
.aboutus .contactUs .ct-list li.check {
  height: 45px;
}
.aboutus .contactUs .ct-list li:first-child {
  font-size: 16px;
}
.aboutus .contactUs .map {
  *zoom: 1;
  margin-top: 25px;
  overflow-x: scroll;
}
.aboutus .contactUs .map:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .contactUs .ullists {
  *zoom: 1;
  margin: 60px auto;
}
.aboutus .contactUs .ullists:after {
  content: " ";
  clear: both;
  display: table;
}
.aboutus .contactUs .ullists li {
  width: 280px;
  box-sizing: border-box;
  margin: 20px auto;
  border: 1px solid #dddddd;
  padding-bottom: 20px;
  box-shadow: 3px 5px 5px #ddd;
}
.aboutus .contactUs .ullists li p {
  text-indent: 0em;
  padding: 0 20px;
  color: #333333;
}
.aboutus .contactUs .ullists li h3 {
  padding: 25px 0;
  text-align: center;
  background-color: #fb7838;
  color: #ffffff;
  font-size: 20px;
}
.aboutus .contactUs .ullists li h3 i {
  display: block;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
.aboutus .contactUs .ullists li span {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  height: 74px;
  color: #666666;
}
@media (min-width: 448px) {
  .aboutus .secTabs li {
    padding: 0 10px;
  }
  .aboutus .JC-items .banner2 {
    text-indent: 0px;
  }
  .aboutus .JC-items .banner2 a {
    float: left;
  }
  .aboutus .JC-strength .design p {
    font-size: 15px;
  }
  .aboutus .JC-strength .design h4,
  .aboutus .JC-strength .design em {
    width: 360px;
  }
  .aboutus .contactUs .ullists li {
    width: 410px;
  }
  .aboutus .contactUs .ullists li h3 {
    font-size: 24px;
  }
  .aboutus .contactUs .ullists li h3 i {
    font-size: 16px;
  }
  .aboutus .contactUs .ullists li span,
  .aboutus .contactUs .ullists li p {
    font-size: 16px;
  }
}
@media (min-width: 620px) {
  .aboutus .secTabs li {
    width: 14.2%;
  }
  .aboutus .JC-strength .design h4 {
    width: 460px;
    margin: 40px auto;
  }
  .aboutus .JC-strength .design em {
    float: left;
    width: 243px;
    clear: inherit;
  }
  .aboutus .JC-strength .design li {
    width: 520px;
  }
  .aboutus .contactUs .ullists li {
    width: 48%;
    float: left;
  }
  .aboutus .contactUs .ullists li:nth-child(odd) {
    margin-right: 23px;
  }
}
@media (min-width: 768px) {
  .aboutus .JC-intro .vedio {
    width: 640px;
    height: 355px;
  }
  .aboutus .JC-strength .design {
    margin-bottom: 50px;
  }
  .aboutus .JC-strength .design h4 {
    width: 50%;
    float: left;
    margin: 20px auto;
    clear: inherit;
    box-sizing: border-box;
    padding-left: 10px;
  }
  .aboutus .contactUs .ullists li {
    width: 47%;
    float: left;
    padding-bottom: 30px;
  }
  .aboutus .contactUs .ullists li:nth-child(odd) {
    margin-right: 43px;
  }
  .aboutus .contactUs .ullists li span {
    padding: 15px 20px;
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .aboutus .JC-items .it-article .banner2 {
    width: 897px;
    margin: auto auto;
    overflow-x: overlay;
  }
  .aboutus .JC-items .it-article .banner2 a {
    margin: auto 4px;
  }
  .aboutus .JC-strength .design ul {
    margin-top: 30px;
  }
  .aboutus .JC-strength .design li {
    width: 44%;
    float: left;
    padding-left: 80px;
    margin: 10px auto;
  }
  .aboutus .JC-strength .design li:nth-child(odd) {
    margin-right: 100px;
  }
  .aboutus .JC-strength .design li span {
    font-size: 14px;
  }
  .aboutus .JC-strength .design em {
    margin-left: 20px;
    margin-top: 40px;
    width: auto;
  }
  .aboutus .contactUs .ct-list h3 {
    font-size: 18px;
  }
  .aboutus .contactUs .ct-list li {
    line-height: 45px;
    font-size: 14px;
  }
  .aboutus .contactUs .ullists {
    box-sizing: border-box;
  }
  .aboutus .contactUs .ullists li {
    width: 31%;
    float: left;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }
  .aboutus .contactUs .ullists li:nth-child(odd) {
    margin-right: 32px;
  }
  .aboutus .contactUs .ullists li:nth-child(2n) {
    margin-right: 32px;
  }
  .aboutus .contactUs .ullists li:nth-child(3) {
    margin-right: 0;
  }
  .aboutus .contactUs .ullists li:nth-child(6) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .aboutus .secTabs {
    float: left;
  }
  .aboutus .secTabs li {
    width: 180px;
    height: 50px;
    text-align: left;
    padding-left: 17px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    float: none;
  }
  .aboutus .secTabs li a {
    line-height: 50px;
    font-size: 16px;
  }
  .aboutus .secTabs li.selected {
    border-left: 3px solid #ef3739;
    background: #fff;
    border-top: none;
  }
  .aboutus .secTabs li.selected a {
    color: #ef3739;
  }
  .aboutus .secTabs li.selected:after {
    content: "\0020";
    display: inline-block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left-color: #ef3739;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .aboutus .ctn {
    width: 1020px;
    float: left;
    font-size: 16px;
    padding: 30px 50px;
  }
  .aboutus .ctn p {
    line-height: 36px;
  }
  .aboutus .ab-title {
    font-size: 22px;
    margin-bottom: 50px;
  }
  .aboutus .ab-title i {
    width: 80px;
  }
  .aboutus .JC-intro .vedio {
    height: 510px;
    width: 920px;
    margin-bottom: 15px;
  }
  .aboutus .JC-intro p {
    margin-bottom: 30px;
  }
  .aboutus .JC-intro .ab-history {
    margin-top: 60px;
    padding-left: 56px;
  }
  .aboutus .JC-intro .ab-history ul {
    margin-top: 60px;
    border-left: 2px solid #f04812;
  }
  .aboutus .JC-intro .ab-history ul li {
    margin: 40px auto 0px;
    padding-left: 95px;
  }
  .aboutus .JC-intro .ab-history ul li i {
    width: 112px;
    height: 47px;
    line-height: 47px;
    left: -56px;
    top: 0;
    border-radius: 7px;
  }
  .aboutus .JC-items {
    display: none;
  }
  .aboutus .JC-items .it-article {
    margin-bottom: 60px;
  }
  .aboutus .JC-items .it-article h3 {
    margin-bottom: 50px;
  }
  .aboutus .JC-items .it-article .banner1 {
    padding: 20px 0;
    overflow-x: overlay;
  }
  .aboutus .JC-strength .design p {
    font-size: 16px;
  }
  .aboutus .JC-strength .design h4 {
    width: 50%;
  }
  .aboutus .JC-strength .design .licheng {
    overflow-x: overlay;
  }
}
