
/*
 * === 专题公用
 * ******************************************/

/* 基本 */
@import "../../../css/reset.less";
@import "../../../css/variable.less";
@import "../../../css/core.less";
@import "../../../css/global.less";

/* 头部及尾部 */
@import "../../../css/headfoot.less";
@import "../../../css/jMmenu.less";
/* 全国分校 */
@import "../../../css/common.less";

/* 项目头部 */
.proheader{
    .protitle{h1{color:@proc1;}}
    .prosearch{input[type="text"]{border: solid 2px @proc1;}input[type="button"]{background-color:@proc1;}}
}
.navbar{
    background-color:@proc2;
    li{
        a{color:@proc3;&:hover{background-color:@proc1;}}
        &.selecded{background-color:@proc1;}
        .navbar2{
            width: auto;
            margin-top: -1px;
            background: @proc1;
            a:hover{background: @proc2;}
        }
    }
}

.mm-menu {
  background-image: url(../../../../images/sidebarbg.png);
}

/*导入字体*/
@font-face {
    font-family: 'icomoon';
    src:url('../../../fonts/icomoon.eot?kabozi');　
    src:url('../../../fonts/icomoon.eot?#iefixkabozi') format('embedded-opentype'),
        url('../../../fonts/icomoon.woff?kabozi') format('woff'),
        url('../../../fonts/icomoon.ttf?kabozi') format('truestype'),
        url('../../../fonts/icomoon.svg?kabozi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}






