/* iconfont */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?z6i63c');
  src: url('fonts/icomoon.eot?#iefixz6i63c') format('embedded-opentype'), url('fonts/icomoon.woff?z6i63c') format('woff'), url('fonts/icomoon.ttf?z6i63c') format('truetype'), url('fonts/icomoon.svg?z6i63c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#introduction{
    width: 300px;
    margin: 0 auto;
}
.introduction_bg_title{
    width: 100%;
    height: 200px;
    background-image: url("../../pic2015/sprint-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 640px) {
    #introduction{
        width: 640px;
    }
    #introduction .bg_title{
        width: 640px;
        height: 200px;
    }
    #introduction .bg_title .text2{
        width: 450px;
    }
}
/*通过率的开始*/
.pass_rate{
    width: 300px;
    margin: 0 10px;
}
.pass_rate .title{
    padding: 26px 0 20px;
    line-height: 34px;
    font-size: 30px;
    color:#000;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.pass_rate .text{
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
}
.pass_rate .list{
    padding: 0 5px;
}
.pass_rate .list div{
    width: 62px;
    height: 20px;
    text-align: center;
    padding-top: 42px;
    border: 1px solid #bbbbbb;
    float: left;
    line-height: 14px;
    margin-right: 10px;
    background-image: url(../../images2015/coursedetailnew/cdFast150708/pass_rate_list0.png);
    background-repeat: no-repeat;
    background-position: center 10px;
}
.pass_rate .list .list1{
    background-image: url(../../images2015/coursedetailnew/cdFast150708/pass_rate_list1.png);
}
.pass_rate .list .list2{
    background-image: url(../../images2015/coursedetailnew/cdFast150708/pass_rate_list2.png);
}
.pass_rate .list .list3{
    background-image: url(../../images2015/coursedetailnew/cdFast150708/pass_rate_list3.png);
}
.pass_rate .list .margin_right_none{
    margin-right: 0;
}
.pass_rate .line_table{
    width: 290px;
    padding-top: 30px;
    margin: 0 auto;
}
.pass_rate .line_table img{
    width: 290px;
    height: 142px;
}
.pass_rate .line_table_text{
    width: 270px;
    padding-left: 20px;
    height: 20px;
    line-height: 20px;
}
.pass_rate .line_table_text span{
    display: inline-block;
    vertical-align: middle;
}
.pass_rate .line_table_text .green,.pass_rate .line_table_text .blue{
    width: 24px;
    height: 8px;
    border-radius: 4px;
    background-color: #22ac38;
    margin-left: 5px;
    margin-right: 5px;
}
.pass_rate .line_table_text .blue{
    background-color: #30aec5;
}
.pass_rate .line_table_text .green_text{
    margin-right: 10px;
}
@media (min-width: 640px) {
    .pass_rate{
        width: 584px;
        margin: 0 auto;
    }
    .pass_rate .list{padding: 0;}
    .pass_rate_cont{
        float: left;
        width: 286px;
    }
    .line_table{float: right;}
    .pass_rate .list p{
        margin-right: 88px;
    }
}
/*通过率的结束*/
/*适合人群的开始*/
.crowd{
    width: 296px;
    margin: 0 auto;
}
.crowd h3{
    font-size: 18px;
    color:#000;
    font-weight: bold;
    line-height: 48px;
    padding-top: 15px;
}
.crowd .list{
    float: left;
    width: 138px;
    height: 210px;
    margin-right: 18px;
    margin-bottom: 10px;
}
.crowd .margin_right_none{
    margin-right: 0;
}
.crowd .list .crowd_list_pic{
    width: 138px;
    height: 138px;
    position: relative;
}
.crowd .list .crowd_list_pic img{
    width: 138px;
    height: 138px;
}
.crowd .list .crowd_list_pic .crowdling{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #30aec5;
    opacity: 0.8;
    filter: alpha(opacity=80);
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    left: 0;
    bottom: 0;
}
.crowd .list .crowd_list_text{
    padding-top: 10px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
@media (min-width: 640px) {
    .crowd{
        width: 584px;
        margin: 0 28px;
    }
    .crowd .list{
        margin-right: 10px;
    }
    .crowd .margin_right_none_640{
        margin-right: 0;
    }
}

/*适合人群的结束*/

/*课程特色的开始*/
.sistartitxt {
    clear: both;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #000;
    position: relative;
    text-align: center;
    margin: 20px auto;
}
.sistartitxt p {
    display: inline-block;
    padding: 10px;
    background: #fff;
    font-size: 26px;
}
.sistartitxt h3{
    font-size: 18px;
    line-height: 48px;
    padding-top: 15px;
    color: #000;
    font-weight: bold;

}
.fasttext h3{
    font-size: 18px;
    line-height: 48px;
    padding-top: 15px;
    color: #000;
    font-weight: bold;
    
}
.sistartitxtts {
    margin: 0 auto 50px;
}
@media (min-width: 320px) {
    .sistartitxt {
        width: 300px;
        margin: 0 auto;
    }
}
@media (min-width: 640px) {
    .sistartitxt {
        margin: 30px auto 50px;
    }
    .sistartitxt{
        width: 580px;
    }
}

@media (min-width: 640px) {
    .sistarmodule {
        width: 20%;
        margin-bottom: 30px;
    }
}
.sistarquality {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    color: #000;
}
.sprint_course{
    width: 286px;
    margin:20px auto;
}
.sistarbox {
    width:100%;
    margin: 10% 5%;
    text-align: center;
    font-size: 14px;
    border: 1px solid #2b2e2e;
    box-sizing: border-box;
    position: relative;
}
.sistarbox .sstbtitle {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: none;
    display: inline-block;
    position: absolute;
    top:10px;
    left: 50%;
    margin-left: -54px;
}
.sistarbox .sstbtext {
    margin: 60px 0 20px;
    padding:0 5px;
    font-size: 12px;
    text-align: left;
}
.sistarbox a{
    width: 150px;
    height: 20px;
    background: #fff;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    position:absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -75px;
}
.sistarbox a span{
    display: inline-block;
    width: 55px;
    height: 20px;
    line-height: 20px;
    background: #00479d;
}
.sistarbox:first-child {
    margin-top: 50px;
}
@media (min-width: 640px) {
   .sprint_course{
    width: 600px;
    overflow: hidden;
    zoom:1;
   }
    .sistarbox {
    width:116px;
    height: 230px;
    margin:0 4px 10px 0;
    float: left;
    }
    .sistarbox:last-child{
        margin:0;
    }
    .sistarbox a{
    width:90px;
    margin-left: -44px;
    }
    .sistarbox .sstbtitle{
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .sprint_course{
        width: 800px;
    }
      .sistarbox {
    width:150px;
    margin:0 12px 10px 0;
    }
    .sistarbox .sstbtitle{
        margin-left:-70px;
    }
}
/*课程特色的结束*/

/*学习360的开始*/
.summertest .ststbox {
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    float: left;
    font-size: 12px;
    color: #666;
    text-align: center;
    padding: 30px 0;
    height: 174px;
}
.summertest .ststbox .icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    color: #fff;
    background: #30aec5;
    font-size: 40px;
    line-height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.summertest .ststbox .ststext p {
    font-size: 16px;
    color: #333;
}
.summertest .ststbox:hover .icon {
    background: #00348b;
}
.summertest .ststbox:hover .ststext p {
    color: #00348b;
}
@media (min-width: 640px) {
    .summertest .ststbox {
        width: 25%;
    }
}

@media (min-width: 1200px) {
    #introduction{
        width: 800px;
    }
    #introduction .bg_title{
        width: 800px;
    }
    .pass_rate{
        width: 800px;
    }
    .pass_rate .list p{
        margin-right: 26px;
    }
    .pass_rate_cont{
        width: 364px;
        float: left;
    }
    .pass_rate .line_table{
        float: left;
        padding-left: 50px;
    }
    .crowd{
        width: 800px;
        margin: 0 auto;
    }
    .crowd .list{
        margin-right: 24px;
        width: 180px;
        height: 250px;
    }
    .crowd .list .crowd_list_pic{
        width: 180px;
        height: 180px;
    }
    .crowd .list .crowd_list_pic img{
        width: 180px;
        height: 180px;
    }
    .crowd .list .crowd_list_pic .{
        width: 180px;
    }
    .crowd .margin_right_none_640{
        margin-right: 0;
    }
}
.learn_360{
    width: 300px;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 20px;
}
.learn_360 p{
    width: 100%;
    text-align: center;
}
.learn_360 .text2{
    display: block;
    font-size: 18px;
    color: #999;
}
.color_e50110{
    color: #e50110;
}