/* 秋季密训营  */
@cw:#fff;
/* iconfont */
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?z6i63c');
    src:url('fonts/icomoon.eot?#iefixz6i63c') format('embedded-opentype'),
        url('fonts/icomoon.woff?z6i63c') format('woff'),
        url('fonts/icomoon.ttf?z6i63c') format('truetype'),
        url('fonts/icomoon.svg?z6i63c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media(min-width:1200px){
    .cicmodeautumn{
        width: 800px;
        margin: 0 auto;
    }
}

.autumnbg{
  background: url(../../images2015/coursedetailnew/autumnbg.png) no-repeat;
  height: 200px;
  background-size: 100% 100%;   
}
@media(min-width:640px){
  .autumnbg{
    height: 300px;
  }
}

.autumnpro{
    width: 310px;
    margin: 50px auto;
    .autumprotext{
        display: inline-block;
        p{
            display: inline-block;
            width: 230px;
            text-align: center;
            border-bottom: 1px solid #999;
            color: #333;
            font-size: 14px;
        }
        img{float: right; }
        
    }
    .autumprotext3{
       margin-top: 50px;
        img{
            float: left;
            margin-top: 0;
        } 
    }
    .autumprotext4{
       img{
            float: left;
            margin-top: 0;
        }
    }
}
@media(min-width:640px){
    .autumnpro{
        width: 560px;
        height: 150px;
        .autumprotext{p{width: 240px;}}
        .autumprotext12{width: 240px;float: left;}
        .autumprotext34{width: 240px; float: right;}
        .autumprotext1,.autumprotext2{width: 320px;}
        .autumprotext3{margin-top: 0;}
        .autumprotext4{img{margin-top: 1px;}}
        .autumprotext3,.autumprotext4{width: 320px; }
    }
}

.autumncourse{
    padding: 30px 0;
  .autcleft{
      width: 100%;
      text-align: center;
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 30px;
      .autcltxt1{font-size: 24px;}
      .autsecp{font-size: 30px; padding: 10px 0; .autbaifen{display:inline-block; color: #ff423d; font-size: 40px; vertical-align: middle;}}
      a{
          padding: 5px 10px;
          color: #fffc00;
          font-size: 12px;
          background: #000;
      }
  }  
}

.autumncourse{
    padding: 30px 0;
  .autcleft{
      width: 100%;
      text-align: center;
      font-size: 15px;
      line-height: 28px;
      .autcltxt1{font-size: 24px;}
      .autsecp{font-size: 30px; padding: 10px 0; span{color: #ff423d; font-size: 40px; vertical-align: middle;}}
      a{
          padding: 5px 10px;
          color: #fffc00;
          font-size: 12px;
          background: #000;
      }
  }  
  .autcright{
      .autcour{
          clear: both;
          margin: 10px 0;
          .autcourl{
              display: inline-block;
              width: 45px;
              float: left;
              text-align: center;
              color: #ff423d;
              border-right: 1px solid #999;
              img{
                  display: block;
                  margin: 0 auto;
              }
          }
          .autcourr{padding-left: 50px; font-size: 12px;}
      }
  }
}
@media(min-width:480px){
    .autumncourse{
        .autcright{
            width: 340px;
            margin: 0 auto;
        }
    }
}

@media(min-width:640px){
 .autumncourse{
   .autcleft{width: 50%;float: left;  margin-top: 80px;} 
   .autcright{width: 50%;display: inline-block;}
 }
}

@media(min-width:992px){
 .autumncourse{
     padding: 0 0 30px;
   .autcright{
      .autcour{
      margin: 20px 0;
      .autcourl{width: 50px;}
      .autcourr{padding-left: 60px;}
      }
   }
 }
}

.autfcircle{
  font-size: 15px;
  color: #333;
  text-align: center;
 .autftitle{
   color: #8c120f;
   font-size: 20px;  
   padding: 20px 0;
 }   
 
 .afcc{
     clear: both;
     padding: 30px 0;
     width: 300px;
     margin: 0 auto;
     img{display: none;}
     .circ{
         display: inline-block;
         width: 80px;
         height: 80px;
         color: #4dbdc5;
         line-height: 80px;
         margin: 10px;
         vertical-align: middle;
         background: #f3f1ea;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
     }
     .circ1,.circ2{
         border: 2px solid #4dbdc5;
     }
     .circ3,.circ4{
         border: 2px solid #56ceb9;
     }
     .circ4{line-height: 20px;
          padding-top: 20px;
          box-sizing: border-box;
     }
 }
}

@media(min-width:480px){
 .autfcircle{
  .afcc{
     width: 100%;
     clear: both;
     padding: 30px 0 50px;
     img{display: inline-block; vertical-align: middle;}
     .circ{
         margin: 0;
     }
   }   
  }
}

@media(min-width:640px){
 .autfcircle{
  .autftitle{font-size: 26px;letter-spacing: 5px;}
  .autftxt{letter-spacing: 3px;}
  .afcc{
      .circ{
         width: 100px;
         height: 100px;
         line-height: 100px;
      }
      .circ4{line-height: 100px;
          padding-top: 0;
     }
    }
  }
}

.summertest{
 .stestitle{
   text-align: center;
   font-size: 22px;
   color: #666;
   padding-bottom: 30px;
   p{color: #ca1010; display: inline;}  
 }
 
 .ststbox{
     width: 50%;
     box-sizing: border-box;
     border: 1px solid #ddd;
     float: left;
     font-size: 12px;
     color: #666;
     text-align: center;
     padding: 30px 0;
     height: 174px;
     
     .icon{
         width: 70px;
         height: 70px;
         margin: 0 auto;
         color: @cw;
         background: #30aec5;
         font-size: 40px;
         line-height: 70px;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
     }
     
     .ststext{
         p{font-size: 16px; color: #333;}
     }
     
     &:hover{
         .icon{background: #00348b;}
         .ststext{
             p{color: #00348b;}
         }
     }
 }
}

@media(min-width:640px){
  .summertest{
   .ststbox{
     width: 25%;
   }
  }   
}

