/**/
@media(min-width:1200px){
    .cicmodecongye{
        width: 800px;
        margin: 0 auto;
    }
}

.congyebg{
    background: #0d6eb6 url(../../images2015/coursedetailnew/congyebannerbg.png) no-repeat;
    height: 135px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}
@media(min-width:480px){
 .congyebg{
    height: 140px;
  }
}
@media(min-width:640px){
 .congyebg{
    height: 200px;
  }
}

//行业揭秘
.congyejm{
    padding: 20px 0;
    text-align: center;
  .cytitle{
      background: url(../../images2015/coursedetailnew/congyecaid.png) no-repeat;
      height: 50px;
      font-size: 30px;
      color: #ffff00;
      text-align: center;
      line-height: 40px;
      font-weight: bold;
      width: 250px;
      background-size: 100% 100%;
      margin: 0 auto;
  }
  .cyfp{
      padding: 10px 0;
      font-size: 14px;
      text-align: center;
  }
  
  .cycirclecom{     
      overflow: hidden;
      background: #edf7ff;
      border-bottom: 1px solid #acc6db;
      border-top: 1px solid #acc6db;
   }
   .cyman{display: none;}
  .cycircle{
      width: 300px;
      height: 150px;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;

      position: relative;
      margin: 0 auto;
      
      .cycirc{
          background: url(../../images2015/coursedetailnew/congyecircle.png) no-repeat;
          background-size: 100% 100%;
          width: 140px;
          height: 140px;
          display: inline-block;
          font-size: 10px;
          float: left;
          color: #fff;
          position: absolute;
          top: 20px;
          left: 0;
          .cycirp{
              color: #ffff00;
              display: block;
              padding: 8px 14px 0;
              text-align: left;
              font-size: 14px;
              font-weight: bold;
              span{
                  display: inline-block;
                  background: #000;
                  opacity: 0.7;
                  padding: 0;
                  margin: 0;
                  width: 25px;
                  height: 25px;
                  vertical-align: middle;
                  line-height: 25px;
                  text-align: center;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
              }
          }
          p{  
             width: 80px;
             padding-left: 10px;
             line-height: 15px;
          }
      }
      .cycirc2{
          left: 100px;
      }
      .cycirc3{
          left: 200px;
      }
  }  
}

@media(min-width:480px){
  .congyejm{
      .cycircle{
          width: 460px;
          height: 170px;
          .cycirc{
              width: 170px;
              height: 170px;
             .cycirp{
                font-size: 16px;
                padding: 15px 20px 0;
                span{
                    margin: 0 0 0 5px;
                }
              }
              p{padding-left: 18px;}
          }
          .cycirc2{
              left: 170px;
          }
          .cycirc3{
              left: 340px;
          }
      }
  }  
}

@media(min-width:640px){
  .congyejm{
    .cyman{
        display: inline-block;
        float: left;
        height: 200px;
        margin-left: -140px;
        padding: 30px 0 30px;
    }
    .cycircle{
        margin-top: 40px;
    }
  }
}


@media(min-width:992px){
  .congyejm{
    .cyman{
        display: inline-block;
        float: left;
        height: 200px;
        margin-left: -0px;
        padding: 30px 0 30px;
    }
    .cycircle{
        margin-left: 180px;
        left: 5%;
        .cycirc{
            width: 190px;
            height: 190px;
            .cycirp{padding: 15px 30px 0;}
            p{
                width: 100px;
                padding-top: 10px;
                line-height: 24px;
            }
        }
    }
  }
}
@media(min-width:1200px){
  .congyejm{
    .cyman{margin-left: 50px;}
    .cycircle{left: 15%;}
  }
}

/* 课程特色-收益-人群 */

/* 各个班级 */
.congyeclass{
    background: #2782b9;
    padding: 20px 0;
    .cyclass{
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 140px;
        p{
            color: #fff;
            width: 95px;
            height: 35px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            background: #ff4a10;
            position: absolute;
            left: 0;
            top: 0;
            line-height: 35px;
            z-index: 2;
            
            .cysan{
              border-width: 17px;
              border-color: transparent transparent transparent #ff4a10;
              border-style: dashed dashed dashed solid;
              position: absolute;
              right: -34px;
            }
        }
        .cyclasstxt{
            text-indent:2em;
            background: #fff;
            position: absolute;
            left: 75px;
            box-sizing: border-box;
            padding: 10px 10px 10px 30px;
            margin-right: 10px;
            height: 140px;
            span{color: #ff4a10;}
            
        }
    }
    .cywoman{display: none;}
}

@media(min-width:480px){
    .congyeclass{
      .cyclass{
        height:85px; 
        padding-bottom: 0;
        .cyclasstxt{
            height: 85px;
        }
      }
    }   
}
@media(min-width:640px){
    .congyeclass{
      .cyclass{
        margin-bottom: 20px;
      }
      .cyclass1{width: 75%; left: 20%;}
      .cyclass2{width: 80%; left: 15%;}
      .cyclass3{width: 85%; left: 10%;}
      .cyclass4{width: 90%; left: 5%; margin-bottom: 0;}
    }   
}
@media(min-width:768px){
    .congyeclass{
      .cyclass{
        height:95px; 
        .cyclasstxt{
            height: 95px;
        }
      }
    }   
}
@media(min-width:992px){
    .congyeclass{
      position: relative;
      .cyclass{
        height:80px; 
        padding-bottom: 0;
        z-index: 3; 
        .cyclasstxt{
            height: 80px;
            
              .cyzsan{
              width: 0;
              height: 0;
              border-bottom: 80px solid #fff;
              border-left: 100px solid transparent;
              position: absolute;
              top: 0;
              left: -70px;

            }
        }
      }
      .cyclass1{width: 60%; left: 40%;}
      .cyclass2{width: 65%; left: 35%;}
      .cyclass3{width: 70%; left: 30%;}
      .cyclass4{width: 75%; left: 25%;}
        .cywoman{
           display: inline-block;
           position: absolute;
           left: 0;
           bottom: 0;
        }
    }   
}

/* 高通过率 start */
.congyerate{
    margin: 30px 0;
    .cytitle{
      background: url(../../images2015/coursedetailnew/congyecaid.png) no-repeat;
      height: 50px;
      font-size: 30px;
      color: #ffff00;
      text-align: center;
      line-height: 40px;
      font-weight: bold;
      width: 240px;
      background-size: 100% 100%;
      margin: 0 auto;
  }  
  .cyftitle{
      text-align: center;
      font-size: 16px;
      padding: 10px 10px 20px;
  }
  .cyratezx{
      background: #eeeff2;
      text-align: center;
      img{
          width: 80%;
          margin-bottom: 40px;
          &:first-child{padding-top: 40px;}
      }
  }
}

@media(min-width:640px){
 .congyerate{
    .cyratezx{
      img{
          width: 32%;
          padding: 10px;
          box-sizing: border-box;
      }
    }  
 }
}

/* 机考题库  */
.congyetiku{
     margin: 30px 0;
    .cytitle{
      background: url(../../images2015/coursedetailnew/congyecaid.png) no-repeat;
      height: 50px;
      font-size: 30px;
      color: #ffff00;
      text-align: center;
      line-height: 40px;
      font-weight: bold;
      width: 240px;
      background-size: 100% 100%;
      margin: 0 auto;
  }  
  .cyftitle{
     text-align: center;
      font-size: 16px;
      padding: 10px 10px 20px; 
  }
  
  .cylast{
      padding: 30px 10px;
      background: url(../../images2015/coursedetailnew/congyelastbtn.png) no-repeat 50%;
          padding-bottom: 80px;
          background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -ms-background-size: cover;
          -o-background-size: cover;
      
      .cylastleft{
          padding-bottom: 30px;
         .cylasttibg{
             background: url(../../images2015/coursedetailnew/congyetitlebg.png) no-repeat;
             height: 50px;
             background-size: 100% 100%;
             color: #428bca;
             font-size: 20px;
             font-weight: bold;
             padding-left: 40px;
             line-height: 50px;
             width: 280px;
             box-sizing: border-box;
             margin: 0 auto 20px;
         } 
         .cylasttxt{
             width: 300px;
             margin: 0 auto;
              box-sizing: border-box;
              padding-left: 50px;
              font-size: 14px;
              line-height: 28px;
              span{color: red;}
         }
      }
      
      .cylastright{
          width: 100%;
          img{width: 100%;}
      }
      .congyebtn{
          .cyelsepic{
              width: 100%;
          }
          a{
              img{
                  width: 100%;
                  margin: 20px auto;
              }
          }
      }
  }
 
}

@media(min-width:640px){
  .congyetiku{ 
      .cylast{
          height: 350px;
        .cylastleft{
            width: 45%; display: inline-block; float: left;
            .cylasttxt{
                padding-left: 30px;
                line-height: 23px;
            }
        }
        .cylastright{
            width: 50%; display: inline-block;
            img{margin-top: 20px;}
        }
        .congyebtn{
          margin: 0 auto;
          display: block;
          text-align: center;
          a{img{width: 60%; }}
        }
     }
   }
}

@media(min-width:992px){
  .congyetiku{ 
      .cylast{
          height: 350px;
        .cylastleft{
            .cylasttxt{
                padding-left: 40px;
                line-height: 23px;
                margin-top: -20px;
            }
        }
        .cylastright{
            img{width: 330px;}
        }
        .congyebtn{
          width: 50%;
          a{img{width: 80%; margin: 35px auto;}}
        }
     }
   }
}








