
@media(min-width:1200px){
    .cicmodesummerblue{
        width: 800px;
        margin: 0 auto;
    }
}
.cicmodesummerblue{
    h3{
        padding: 10px;
        color: #fff;
        font-size: 16px;
        background: #30aec5;
    }
}    

/* 顶部标题 */
.summerbluetitle{
    padding: 30px 20px;
    img{width: 100%;}
}
@media(min-width:640px){
    .summerbluetitle{
        img{width: 470px; margin: 0 auto; display: block;}
    }
}
.summerbluebt{
    border: 1px solid #eee;
    background: #fafafa;

    .sbtext{
        padding: 0 20px 30px;
        font-size: 14px;
        p{padding: 20px 0 0;}
        span{
            /* color: #000;
            font-weight: bold; */
        }
        .sbtextlast{
            font-size: 16px;
            color: #30aec5;
        }
    }
    
}
@media(min-width:992px){
  .summerbluebt{
      .sbtext{padding: 0 30px 30px;}
  }  
}

/* 招生对象 + ... */
.summerbluezk{
    margin: 10px 0;
    border:1px solid #eee;
    background: #fafafa;
    box-sizing: border-box;
    .sbzk{ border-bottom: 1px solid #eee; }
    .sbzktitle{
        font-size: 14px;
        color: #000;
        font-weight: bold;
        padding: 20px;
        box-sizing: border-box;
        line-height: 40px;
        img{float: left; vertical-align: middle; padding-right: 5px;}
    }
    .sbzktext{
        padding: 0 20px;
        p{
            padding-bottom: 5px;
         span{
            // font-weight: bold;
          }
        }
    }
}
@media(min-width:640px){
    .summerbluezk{
     .sbzk{
         display: inline-block;
         width: 30%;
         height: 290px;
         border-bottom: 0;
         border-right: 1px solid #eee;
         vertical-align:top; 
         &:first-child{width: 38%;}
         &:last-child{border-right: 0;}
     }   
    }
}

@media(min-width:992px){
    .summerbluezk{
     .sbzk{
         height: 220px;
     }   
    }
}

/* 课程安排  */
.summerbluebt{
    clear: both;
    margin-bottom: 10px;
    .sbkc{.sbkcspan{
        display: inline-block;
        padding: 0 20px 10px;
        &:first-child{padding-top: 10px;}
    }}
    
    //免费赠送
    .sbtextzs{
        padding: 20px;
        p{line-height: 28px;}
    }
    
    //认识更多的朋友
    .sbtextfriend{
        width: 300px;
        padding: 20px 0;
        margin: 0 auto;
        text-align: center;
    }
    
    //还有我们的首席培训师为您做职业指导
    .sbtextteach{
        padding: 20px 0;
        text-align: center;
        img{}
    }
    
    //住宿环境
    .sbtextzs{
        padding: 20px;
        .sbtextzstxt{
            p{
                line-height: 24px;
                /* span{
                    color: #000;
                    font-weight: bold;
                } */
            }
        }
        img{
            padding-top: 20px;
        }
    }
}
@media(min-width:640px){
  .summerbluebt{
     //认识更多的朋友
    .sbtextfriend{
        width: 100%;
    }
    
    //还有我们的首席培训师为您做职业指导
    .sbtextteach{
       p{
         display: inline-block;
         width: 32%;
       }
    }
    //住宿环境
    .sbtextzs{
        .sbtextzstxt{
            display: inline-block;
        }
    }
 }
}

@media(min-width:1200px){
  .summerbluebt{
    //住宿环境
    .sbtextzs{
        .sbtextzstxt{
            display: inline-block;
        }
    }
  }
}

/* 回顾 */
.summerbluereview{
    width: 100%;
    padding: 20px 0;
}

