/* 暑期密训 */
/* iconfont */
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?z6i63c');
    src:url('fonts/icomoon.eot?#iefixz6i63c') format('embedded-opentype'),
        url('fonts/icomoon.woff?z6i63c') format('woff'),
        url('fonts/icomoon.ttf?z6i63c') format('truetype'),
        url('fonts/icomoon.svg?z6i63c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media(min-width:1200px){
    .cicmodewinter{
        width: 800px;
        margin: 0 auto;
    }
}

.winterbg{
    background: url(../../images2015/coursedetailnew/winterbg.png) no-repeat;
    height: 150px;
    background-size: 100% 100%;
}
@media(min-width:640px){
  .winterbg{
    height: 220px;
   }
}
@media(min-width:1200px){
  .winterbg{
    height: 270px;
   }
}


.winterbox{
    .winbox{
       height: 180px;
       background: #ccfff3; 
       position: relative;
       
       margin: 50px 0;
       
       .wincircle{
           width: 80px;
           height: 80px;
           background: #fff;
           border-radius: 50%;
           -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
           -ms-border-radius: 50%;
           -o-border-radius: 50%;
           
           position: absolute;
           left: 50%;
           margin-left: -40px;
           top: -40px;
           color: #33ac97;
           line-height: 80px;
           text-align: center;
           font-size: 16px;
       }
       
       .wincirtext{
           text-align: center;
           padding-top: 50px;
       }
       
       img{
           position: absolute;
           bottom: 0;
           left: 50%;
           margin-left: -111px;
           z-index: 2;
       }
       
       .lineboxbg{
           display: block;
           width: 100%;
           height: 43px;
           background: #6ae6d0;
           position: absolute;
           bottom: 0;
           left: 0;
       }
       
    }
}

@media(min-width:480px){
  .winterbox{
    .winbox{
        width: 49%;
        float: left;
        &:nth-child(2n+1){margin-right: 2%;}
    }
  }
}

@media(min-width:992px){
  .winterbox{
    .winbox{
        width: 20%;
        float: left;
        &:nth-child(2n+1){margin-right:1.5%;}
    }
    .winbox4{width: 31%;}
    .winbox1,.winbox2,.winbox3{margin-right: 1.5%;}
    .winbox1{margin-left: 4.5%;}
  }
}

.wintermx{
   clear: both;
  .wintertitle{text-align: center; font-size: 30px; padding: 20px 0;}
  .wintertext{
      font-size: 16px;
      padding: 3px 10px;
      border: 1px solid #999;
      margin: 10px 0 20px;
      text-align: center;
  }
  .wintertxtx{text-align: center; padding: 0 0 20px;}
  
  .wintercircle{
      background: url(../../images2015/coursedetailnew/wintercirclebg.png) no-repeat;
      vertical-align: middle;
      height: 175px;
      position: relative;
      width: 170px;
      margin: 0 auto;

      .wctitle{
          padding-top: 35px;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
      }
      .wctext{
          width: 110px;
          margin: 10px auto;
          font-size: 9px;
      }
  }
}

@media(min-width:480px){
   .wintermx{
    .wintertext{width: 438px; margin: 10px auto 30px;}
    .wintercirclec{text-align: center; width: 480px; margin: 0 auto;}
    .wintercircle{ 
        display: inline-block;
        margin: 20px;
    }
   }
}
@media(min-width:1028px){
  .wintermx{

    .wintercirclec{width: 700px;}
    .wintercircle{ 
        display: inline-block;
        margin: 20px 0;
    }
   }   
}
.wintermws{
   clear: both;
   margin: 30px 0;
  .winmwstitle{
      font-size: 30px;
      text-align: center;
      padding: 40px 0 30px;
  }  
  
  .winsec{
      background: #dcfff7;
      
      .winsecc{
          text-align: center;
          padding: 20px 20px;
          color: #333;;
          .winsec1{
              font-size: 18px;
              .weinsecbox{display: inline-block; background: #fff; padding: 5px; border: 1px solid #3fccba; margin-left: 5px;}
          }
          .winsec2{
              font-size: 26px;
              margin: 5px 0;
          }
      }
  }
}

@media(min-width:480px){
 .wintermws{ 
    .winsec {
      .winsecc{
          width: 49%;
          display: inline-block;
          box-sizing: border-box;
      }
      .winsecl{border-right: 1px solid #ddd;}
    }
  }  
}

.wintergx{
    padding-top: 50px;
  .wintergxl{
      display: none;
     width: 35px;
     height: 610px;
     border-right: 2px solid #ccc;
     .wingxpp{
         width: 70px;
         height: 70px;
         line-height: 70px;
         background: #fff;
         text-align: center;
         border:1px solid #ffb003;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         
         margin-bottom: 20px;
         
         &:first-child{line-height: 25px;  padding-top: 10px; box-sizing: border-box;
            background: #f9ce70; 
            .wingxppspan{ display: block; font-size: 16px; }
         }
     } 
     .sheng{font-size: 36px; background: #f9ce70; }
  }
  
  .wintergxr{
      .wingxtitle{
          font-size: 30px;
          color: #555;
          text-align: center;
          p{font-size: 14px; color: #555;}
      }
      
      
      .wincontext{
          margin-bottom: 20px;
          font-size: 22px;
          color: #ffb003;
          p{
            font-size: 14px;
            color: #815b07;  
          }
      }
  }  
}

@media(min-width:480px){
    .wintergx{
        .wintergxl{
            display: inline-block;
            float: left;
        }
        .wintergxr{
            padding-left: 80px;
             .wincontext{
                 .wintover{font-size: 30px; color: #ffb003;}
             }
        }
    }
}

@media(min-width:640px){
    .wintergx{
        .wintergxr{
            .wingxtitle{padding: 10px 0 20px;}
             .wincontext{
                 margin-bottom: 30px;
             }
        }
    }
}

@media(min-width:768px){
    .wintergx{
        .wintergxr{
            padding-left: 90px;
             .wincontext{
                 margin-bottom: 40px;
             }
        }
    }
}
@media(min-width:1200px){
    .wintergx{
        .wintergxl{
            margin-left: 10px;
        }
        .wintergxr{
            padding-left: 110px;
             .wincontext{
                 margin-bottom: 40px;
             }
        }
    }
}


.summertest{
 .stestitle{
   text-align: center;
   font-size: 22px;
   color: #666;
   padding: 50px 0 30px;
   p{color: #ca1010; display: inline;}  
 }
 
 .ststbox{
     width: 50%;
     box-sizing: border-box;
     border: 1px solid #ddd;
     float: left;
     font-size: 12px;
     color: #666;
     text-align: center;
     padding: 30px 0;
     height: 174px;
     
     .icon{
         width: 70px;
         height: 70px;
         margin: 0 auto;
         color: #fff;
         background: #30aec5;
         font-size: 40px;
         line-height: 70px;         
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
     }
     
     .ststext{
         p{font-size: 16px; color: #333;}
     }
     
     &:hover{
         .icon{background: #00348b;}
         .ststext{
             p{color: #00348b;}
         }
     }
 }
}

@media(min-width:640px){
 .summertest{
    .stestitle{
       font-size: 28px;
     }
   .ststbox{
     width: 25%;
   }
  }
}
