@import "../../../css/variable.less";

.fc_header{
		.cf();
		margin:20px auto 0;
			p{
				float: left;
				line-height: 20px;
					img{
						width: 120px;
						vertical-align: middle;
						float: left;
					}
				span{
					border-left: 1px solid @cc;
					margin-left: 8px;
					padding-left: 8px;
					display: none;
						em{
							display: block;
							font-weight: bold;
							.f20();
						}
			 	}
			}
			.serch{
				display: table;
				margin-left: auto;
					input{
						width: 105px;
						height: 40px;
						float: left;
						outline: none;
					}
					img{
						height: 40px;
					}
			}
		ul{
			.cf();
			margin-top:20px;
			li{
				float: left;
				width: 20%;
				height: 48px;
				border:1px solid @cc;
				border-right:none;
				background-color: #f9f9f9;
				text-align: center;
				box-sizing: border-box;
					a{line-height: 48px;.f12();}
			}
			.selected{
				background-color: @cw;
					a{color:#d73240;}
			}
		}

		}
@media(min-width:640px){
	.fc_header{
			p{
				padding-left: 4%;
				span{display: inline-block;}
			}
			.serch{
				padding-right: 4%;
				input{width: 200px;}
			}
		ul{
			a{.f14();}
		}

	}
}

@media(min-width:1200px){
	.fc_header{
			.lgscreen();
			margin:40px auto;
				p{
					padding-left: 0;
					img{width: 155px;}
					span{
						margin-left: 15px;
						padding-left: 12px;
					}
				}
				.serch{
					display:inherit;
					float: right;
					padding-right: 0;
					input{height: 50px;}
					img{height: 50px;}
				}
				ul{
					float: right;
					margin-top:0;
						li{
							width: 100px;
							height: 50px;
							line-height: 50px;
							a{.f16();}
						}
				}
	}
}


//tab切换
.secTabs{
	.cf();
	margin:0px auto 20px;
	padding: 35px 0px 0px;
	.f16();
	color:@c3;
	ul{
		.cf();
		border-bottom: 2px solid #e8e8e8;
	}
	li{
		float: left;
		width: 33.33%;
		text-align: center;
		padding-bottom: 15px;
		box-sizing: border-box;
		margin-bottom: -2px;
		transition: 0s;
		-moz-transition: 0s;
		-webkit-transition: 0s;
	}
	.selected{
			border-bottom:2px solid #ef3739;
			a{color:#ef3739;}
		 }
}
@media(min-width:640px){
	.secTabs{
			a{font-size: 22px;}
		}

}
@media(min-width:992px){
	.secTabs{
			padding-top: 50px;
			li{width: 160px;}
		}
}
@media(min-width:1200px){
	.secTabs{
		.lgscreen();
		margin:0px auto 20px;
	}
}

//金程动态
.fc_wrap{
	.cf();
	background-color: #f8f8f8;
	padding:0 10px;
}

	.fc_information{
		.cf();
		padding-bottom: 40px;
		display: none;
		&:first-child{display: block;}
		ul{
			.cf();
			margin:40px auto auto;
		}
		li{
			.cf();
			float: left;
			width: 48%;
			display: none;
			box-sizing:border-box;
			&:first-child{margin-right: 4%;}
			a{
				display:block;
				background-color: @cw;
				padding-bottom: 25px;
				border:1px solid #f8f8f8;
				img{width: 100%;}
				&:hover{
					border-color:#dedede;
					h3{color:#ea3a3c;}
				}
			}
		}
		li:nth-child(-n+2){display: block;}

		h3{
			overflow:hidden;
			.spill2();
			color:@c3;
			.f16();
			margin:10px 10px 5px;
			&:hover{color:#ea3a3c;}
		}
		p{
			.spill3();
			color:@c9;
			.f12();
			padding:5px 10px 0px;
		}
	}

	@media (min-width: 640px){
	.fc_wrap{
		padding:0 30px;
		.fc_information{
			ul{}
			li{padding:0px;}
		}
	}
}
@media(min-width:768px){
	.fc_information{
		li{
			width: 32.3333%;
			&:first-child{margin-right: 0;}
			&:nth-child(2){margin:auto 1.33333%;}
		}
		li:nth-child(-n+3){display: block;}
	}
}
@media (min-width:992px){
	.fc_wrap{
		.fc_information{
			ul{}
			li{
				width: 24%;
				&:nth-child(2){margin:auto 0;}
				&:not(:first-child){margin-left:1.33333%;}
			}
			li:nth-child(-n+4){display: block;}
		}
	}
}

@media (min-width:1200px){
	.fc_wrap{
		padding: 0!important;
			.fc_information{
				.lgscreen();
					li{
						width:19.1%;
						display: block;
						&:not(:first-child){margin-left:1.111%;}
                        p{.f14();}
					}
			}
	}
}
