/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #ffffff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/* 面包屑 */
.crumb {
  display: none;
}
@media (min-width: 768px) {
  .crumb {
    display: block;
    *zoom: 1;
    zoom: 1;
    line-height: 50px;
  }
  .crumb:after {
    content: " ";
    clear: both;
    display: table;
  }
  .crumb p {
    color: #999;
  }
  .crumb p a {
    padding: 0 10px;
  }
  .crumb p span {
    padding-left: 10px;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-bpt1ef');
  src: url('fonts/icomoon.eot?#iefix-bpt1ef') format('embedded-opentype'), url('fonts/icomoon.ttf?-bpt1ef') format('truetype'), url('fonts/icomoon.woff?-bpt1ef') format('woff'), url('fonts/icomoon.svg?-bpt1ef#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
}
a {
  text-decoration: none!important;
  color: #374047;
}
body {
  color: #374047!important;
  overflow-x: hidden;
}
@-webkit-keyframes youfirst {
  from {
    left: -500px;
    top: 0px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}
#bttn {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 9999999;
  right: 65px;
  bottom: 30px;
  display: none;
  background: url(../images/top_bg.png) no-repeat left top;
}
#bttn:hover {
  background: url(../images/top_bg.png) no-repeat 0 -39px;
}
.winter_banner {
  *zoom: 1;
  zoom: 1;
  background: url(../images/banner_02.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  padding: 30px 20px 60px;
}
.winter_banner:after {
  content: " ";
  clear: both;
  display: table;
}
.winter_banner img {
  width: 100%;
  padding-top: 70px;
}
@media (min-width: 768px) {
  .winter_banner {
    padding: 10px 20px 60px;
  }
}
@media (min-width: 1200px) {
  .winter_banner {
    padding: 50px 0 0px;
    height: 746px;
  }
  .winter_banner img {
    display: block;
    width: 1200px;
    margin: 0 auto;
  }
}
.winter_order {
  width: 300px;
  margin: 50px auto;
  padding: 0px 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 25px rgba(181, 181, 181, 0.6);
  -moz-box-shadow: 0 0 25px rgba(181, 181, 181, 0.6);
  box-shadow: 0 0 25px rgba(181, 181, 181, 0.6);
  *zoom: 1;
  zoom: 1;
}
.winter_order:after {
  content: " ";
  clear: both;
  display: table;
}
.winter_order h3 {
  font-weight: bold;
  font-size: 20px;
  color: #484848;
  line-height: 68px;
  height: 68px;
}
.winter_order input {
  height: 25px;
  width: 100%;
  font-size: 14px;
  margin: 5px auto;
  color: #484848;
  padding-left: 5px;
  clear: both;
  box-sizing: border-box;
}
.winter_order .check1,
.winter_order .check2 {
  width: 20px;
  height: 20px;
}
.winter_order .check2 {
  margin-left: 50px;
}
.winter_order .btn {
  color: #ffffff;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  margin: 22px auto 30px;
  background-color: #00479d;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.winter_order .btn:hover {
  background-color: #8dc041;
}
.w_plan {
  *zoom: 1;
  zoom: 1;
  width: 310px;
  text-align: center;
  margin: 0 auto 20px;
}
.w_plan:after {
  content: " ";
  clear: both;
  display: table;
}
.w_plan h3 {
  font-size: 18px;
  font-weight: bold;
  color: #374047;
}
.w_plan h3 span {
  display: block;
  font-size: 12px;
  padding: 10px 0 10px;
  font-weight: normal;
}
.w_plan article {
  margin: 20px auto;
  *zoom: 1;
  zoom: 1;
}
.w_plan article:after {
  content: " ";
  clear: both;
  display: table;
}
.w_plan article a {
  display: block;
  width: 95px;
  padding: 25px 0px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  background: url(../images/w_03.png) no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: -webkit-transform 1s ease;
  -moz-transition: -moz-transform 1s ease;
  transition: transform 1s ease;
}
.w_plan article a:nth-child(odd) {
  margin: 0 5px;
}
.w_plan article a:hover {
  color: #769d43;
}
.w_plan article a i {
  font-size: 20px;
}
.w_plan article .imp {
  margin-left: 55px;
}
.w_plan article .plans {
  margin-top: -20px !important;
}
.w_plan h5 {
  margin: 0 auto;
  width: 126px;
  height: 28px;
  text-align: center;
  background-color: #41abbe;
}
.w_plan h5:hover {
  background-color: #769d43;
}
.w_plan h5 a {
  color: #ffffff;
  line-height: 28px;
  font-size: 14px;
}
@media (min-width: 640px) {
  .winter_order {
    width: 496px;
    padding: 0 30px;
  }
  .winter_order h3 {
    font-size: 22px;
  }
  .winter_order input {
    height: 36px;
  }
  .winter_order .btn {
    width: 115px;
    height: 30px;
    line-height: 30px;
  }
  .w_plan {
    width: 630px;
  }
  .w_plan h3 {
    font-size: 28px;
  }
  .w_plan h3 span {
    font-size: 14px;
  }
  .w_plan article {
    margin: 40px auto;
  }
  .w_plan article a {
    width: 116px;
    padding: 29px 0;
    font-size: 14px;
  }
  .w_plan article a:nth-child(odd) {
    margin: 0 7px;
  }
  .w_plan article a i {
    font-size: 28px;
  }
  .w_plan article .imp,
  .w_plan article .plans {
    margin: 0;
  }
  .w_plan article .plans {
    margin-top: 0!important;
  }
}
@media (min-width: 1200px) {
  .winter_order {
    width: 600px;
    padding: 0 43px;
  }
  .winter_order h3 {
    font-size: 28px;
    height: 80px;
    line-height: 80px;
  }
  .winter_order input {
    height: 50px;
    margin: 10px auto;
  }
  .winter_order .btn {
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
  }
  .w_plan {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0 40px;
  }
  .w_plan h3 {
    font-size: 38px;
  }
  .w_plan h3 span {
    font-size: 18px;
    padding: 20px 0 10px;
  }
  .w_plan article {
    margin: 95px auto;
  }
  .w_plan article a {
    width: 212px;
    padding: 58px 0;
    font-size: 24px;
    -webkit-animation: youfirst 3s ease  1  alternate;
  }
  .w_plan article a:nth-child(odd) {
    margin: 0 20px;
  }
  .w_plan article a i {
    font-size: 48px;
  }
  .w_plan h5 {
    width: 228px;
    height: 45px;
  }
  .w_plan h5 a {
    font-size: 24px;
    line-height: 45px;
  }
}
.w_position {
  overflow: hidden;
}
.w_position .w_introduce {
  *zoom: 1;
  zoom: 1;
  width: 100%;
  padding-top: 30px;
  background-color: #ffda39;
}
.w_position .w_introduce:after {
  content: " ";
  clear: both;
  display: table;
}
.w_position .w_introduce h3 {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  padding-left: 10px;
}
.w_position .w_introduce h3 span {
  display: block;
  font-size: 12px;
  padding: 10px 0 10px;
  font-weight: normal;
}
.w_position .w_introduce strong {
  font-size: 16px;
  display: block;
}
.w_position .w_introduce .w_content {
  width: 346px;
}
.w_position .w_introduce .w_content ul {
  margin: 5px 3%;
  padding: 30px 10px;
  background: url(../images/7_03_01.png) no-repeat top left;
}
.w_position .w_introduce .w_content li {
  *zoom: 1;
  zoom: 1;
  padding: 14px 0 14px 15px;
  box-sizing: border-box;
}
.w_position .w_introduce .w_content li:after {
  content: " ";
  clear: both;
  display: table;
}
.w_position .w_introduce .w_content li i {
  display: block;
}
.w_position .w_introduce .w_flt {
  background: url(../images/pr_03.png) no-repeat center right;
  background-size: 134px auto ;
}
.w_position .w_introduce .w_flt strong {
  padding-left: 20px;
}
.w_position .w_rt {
  background-color: #93c73e;
}
.w_position .w_rt .w_frt {
  background: url(../images/per_03.png) no-repeat center left;
  background-size: 100px auto ;
  margin: auto 0 ;
  float: right;
}
.w_position .w_rt .w_frt strong {
  text-align: right;
  padding-right: 10px;
}
.w_position .w_rt .w_frt ul {
  background: url(../images/7_03_01.png) no-repeat top right;
}
.w_position .w_rt .w_frt ul li {
  text-align: right;
  padding-right: 15px;
}
.w_position .w_rt .w_frt ul li i {
  display: block;
}
@media (min-width: 640px) {
  .w_position {
    position: relative;
    *zoom: 1;
    zoom: 1;
  }
  .w_position:after {
    content: " ";
    clear: both;
    display: table;
  }
  .w_position h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    font-size: 28px!important;
  }
  .w_position h3 span {
    font-size: 14px;
  }
  .w_position .w_introduce {
    width: 50%;
    float: left;
    padding-top: 123px;
    margin-top: 25px;
  }
  .w_position .w_introduce .w_content ul {
    margin: 5px 10%;
    padding: 30px 10px;
    background: url(../images/7_03_01.png) no-repeat top left;
  }
  .w_position .w_introduce .w_content ul li {
    padding-top: 13px;
    padding-bottom: 16px;
  }
  .w_position .w_lt {
    box-sizing: border-box;
    padding-right: 45px;
  }
  .w_position .w_lt .w_flt {
    float: right;
  }
  .w_position .w_lt .w_flt strong {
    padding-left: 39px;
  }
  .w_position .w_rt {
    float: left;
    box-sizing: border-box;
    padding-left: 45px;
  }
  .w_position .w_rt .w_frt {
    float: left!important;
  }
  .w_position .w_rt .w_frt ul {
    margin: 5px 10%;
    padding: 30px 10px;
    background: url(../images/7_03_01.png) no-repeat top right;
  }
  .w_position .w_rt .w_frt strong {
    padding-right: 39px;
  }
}
@media (min-width: 1200px) {
  .w_position .w_introduce h3 {
    font-size: 38px!important;
    padding-top: 35px;
  }
  .w_position .w_introduce h3 span {
    font-size: 18px;
    padding: 20px 0 10px;
  }
  .w_position .w_introduce .w_content strong {
    font-size: 24px;
  }
  .w_position .w_introduce .w_content li {
    padding-top: 14px!important;
    padding-bottom: 8px!important;
  }
  .w_position .w_introduce .w_content li,
  .w_position .w_introduce .w_content i {
    font-size: 14px;
    font-weight: bold;
  }
  .w_position .w_introduce .w_flt {
    padding: 80px 200px 50px 0;
    background-size: 184px ;
  }
  .w_position .w_introduce .w_frt {
    padding: 80px 0px 50px 200px;
    background-size: 127px ;
  }
}
.w_system {
  *zoom: 1;
  zoom: 1;
  padding: 50px 0;
  background: url(../images/bg_02.jpg) no-repeat;
  background-size: cover;
}
.w_system:after {
  content: " ";
  clear: both;
  display: table;
}
.w_system .sytembox {
  margin: 0 auto;
}
.w_system .sytembox h3 {
  font-size: 18px;
  font-weight: bold;
  color: #374047;
  text-align: center;
  color: #ffffff;
}
.w_system .sytembox h3 span {
  display: block;
  font-size: 12px;
  padding: 10px 0;
  color: #aaa;
  font-weight: normal;
}
.w_system .sytembox .sbox {
  width: 250px;
  background: #ffffff;
  position: relative;
  margin: 70px auto 0;
  padding-bottom: 15px;
}
.w_system .sytembox .sbox .scircle {
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -55px;
  width: 110px;
  height: 110px;
  background: #ffffff;
  border: 4px solid #374047;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: -webkit-transform 1s ease;
  -moz-transition: -moz-transform 1s ease;
  transition: transform 1s ease;
}
.w_system .sytembox .sbox .scircle i {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
  font-size: 35px;
}
.w_system .sytembox .sbox .scircle:hover {
  background-color: #769d43;
  border-color: #ffffff;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.w_system .sytembox .sbox .scircle:hover i {
  color: #ffffff;
}
.w_system .sytembox .sbox .sboxtext {
  display: table;
  margin: 0 auto;
  padding-top: 70px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.w_system .sytembox .sbox .sboxtext strong {
  display: block;
  text-align: center;
}
.w_system .sytembox .sbox .sboxtext p {
  font-size: 13px;
  color: #333;
  text-align: left;
}
.w_system .sytembox .sbox .sboxtext p img {
  margin-right: 5px;
}
.w_system .sytembox a {
  clear: both;
  display: block;
  width: 160px;
  height: 30px;
  background-color: #41abbe;
  text-align: center;
  margin: 20px auto;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
}
.w_system .sytembox a:hover {
  background-color: #769d43;
}
@media (min-width: 640px) {
  .w_system .sytembox {
    width: 640px;
    margin-top: 30px;
  }
  .w_system .sytembox h3 {
    font-size: 28px;
  }
  .w_system .sytembox h3 span {
    font-size: 14px;
  }
  .w_system .sytembox .sbox {
    width: 31%;
    float: left;
  }
  .w_system .sytembox .sbox2 {
    margin: 70px 2%;
  }
}
@media (min-width: 768px) {
  .w_system .sytembox {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .w_system {
    padding-top: 80px;
  }
  .w_system .sytembox {
    width: 1200px;
    margin: 0 auto;
  }
  .w_system .sytembox h3 {
    font-size: 38px;
  }
  .w_system .sytembox h3 span {
    font-size: 18px;
    color: #ffffff;
    padding-top: 20px;
  }
  .w_system .sytembox .sbox {
    width: 27%;
    margin: 100px 3%;
  }
  .w_system .sytembox a {
    width: 285px;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
  }
}
.w_techers {
  *zoom: 1;
  zoom: 1;
  background-color: #efecdd;
  padding: 30px 0;
}
.w_techers:after {
  content: " ";
  clear: both;
  display: table;
}
.w_techers h3 {
  font-size: 18px;
  color: #374047;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}
.w_techers h3 span {
  font-size: 12px;
  display: block;
  font-weight: normal;
  padding: 10px 0;
}
.w_techers .w_autoPlay {
  width: 290px;
  background-color: #fce6bb;
  margin: 20px auto;
  padding: 15px 20px;
  box-sizing: border-box;
}
.w_techers .w_autoPlay .video {
  height: 150px;
  background-color: #e1ffab;
  margin: 20px auto;
  position: relative;
  background: url(../images/hou.jpg) no-repeat;
  background-size: 100%;
}
.w_techers .w_autoPlay .video a {
  display: block;
  position: absolute;
  width: 40px;
  left: 43%;
  top: 37%;
}
.w_techers .w_autoPlay .video a img {
  width: 100%;
}
.w_techers .w_autoPlay .video2 {
  background: url(../images/qu.jpg) no-repeat;
  background-size: 100%;
}
.w_techers .w_autoPlay article {
  *zoom: 1;
  zoom: 1;
  line-height: 25px;
}
.w_techers .w_autoPlay article:after {
  content: " ";
  clear: both;
  display: table;
}
.w_techers .w_autoPlay article:hover {
  color: #93825d;
}
.w_techers .w_autoPlay article em {
  font-weight: bold;
  padding: 10px 0;
  display: block;
}
.w_techers .oneByOne_item {
  display: none;
}
@media (min-width: 640px) {
  .w_techers h3 {
    font-size: 28px;
  }
  .w_techers h3 span {
    font-size: 14px;
    padding: 10px 0 10px;
  }
  .w_techers .w_autoPlay {
    width: 590px;
    padding: 23px 40px;
  }
  .w_techers .w_autoPlay .video {
    height: 295px;
  }
  .w_techers .w_autoPlay .video a {
    width: 75px;
  }
  .w_techers .w_autoPlay article {
    font-size: 14px;
  }
  .w_techers .w_autoPlay article em {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .w_techers {
    margin: 0 auto;
    padding-top: 65px;
  }
  .w_techers h3 {
    font-size: 38px;
  }
  .w_techers h3 span {
    font-size: 18px;
    padding-top: 20px;
  }
  .w_techers .w_bg {
    width: 1200px;
    margin: 0 auto;
    margin: 30px auto;
  }
  .w_techers .w_bg .w_autoPlay {
    width: 46%;
    margin: auto 2%;
    padding: 23px 40px;
    height: 557px;
    float: left;
  }
  .w_techers .w_bg .w_autoPlay .video {
    height: 295px;
  }
  .w_techers .w_bg .w_autoPlay .video a {
    width: 75px;
  }
  .w_techers .oneByOne_item {
    display: block;
    width: 1200px;
    margin: 0 auto;
  }
  .w_techers .oneByOne_item ul {
    *zoom: 1;
    zoom: 1;
  }
  .w_techers .oneByOne_item ul:after {
    content: " ";
    clear: both;
    display: table;
  }
  .w_techers .oneByOne_item li {
    width: 260px;
    float: left;
    box-sizing: border-box;
    margin: 36px 20px;
  }
  .w_techers .oneByOne_item li em {
    display: table;
    margin: 30px auto;
  }
  .w_techers .oneByOne_item li span {
    display: block;
    background-color: #ffffff;
    padding: 30px 34px 25px;
    line-height: 22px;
    position: relative;
    font-size: 14px;
    box-shadow: 0px 4px 0px rgba(181, 181, 181, 0.6);
  }
  .w_techers .oneByOne_item li span strong {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }
  .w_techers .oneByOne_item li span strong:hover {
    color: #8dc041;
  }
  .w_techers .oneByOne_item li span a {
    display: block;
    text-align: right;
    padding-top: 30px;
    color: #aaa;
  }
  .w_techers .oneByOne_item li span a:hover {
    color: #8dc041;
  }
  .w_techers .oneByOne_item li span a.padTop {
    padding-top: 52px;
  }
  .w_techers .oneByOne_item li span:before {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    top: -25px;
    left: 115px;
  }
}
.w_coursedetial {
  *zoom: 1;
  zoom: 1;
  padding: 40px 0;
  margin-top: 30px;
}
.w_coursedetial:after {
  content: " ";
  clear: both;
  display: table;
}
.w_coursedetial h3 {
  font-size: 18px;
  color: #374047;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}
.w_coursedetial h3 span {
  font-size: 12px;
  display: block;
  font-weight: normal;
  padding: 10px 0;
}
.w_coursedetial .overflow_x {
  *zoom: 1;
  zoom: 1;
  overflow-x: scroll;
}
.w_coursedetial .overflow_x:after {
  content: " ";
  clear: both;
  display: table;
}
.w_coursedetial table {
  *zoom: 1;
  zoom: 1;
  width: 1200px;
  margin: 0 auto;
  color: #628044;
  margin-top: 30px;
}
.w_coursedetial table:after {
  content: " ";
  clear: both;
  display: table;
}
.w_coursedetial table tr {
  *zoom: 1;
  zoom: 1;
  text-align: center;
}
.w_coursedetial table tr:after {
  content: " ";
  clear: both;
  display: table;
}
.w_coursedetial table tr td {
  border: 2px solid #ffffff;
  width: 11.1%;
  height: 50px;
  padding: 10px 0 ;
  box-sizing: border-box;
  float: left;
  background-color: #d4e4bd;
}
.w_coursedetial table tr td.on {
  width: 22.2%;
}
.w_coursedetial table tr:nth-child(odd) td {
  background-color: #c0d99a;
}
.w_coursedetial table tr:first-child td {
  font-size: 18px;
  font-weight: bold;
}
.w_coursedetial a {
  display: block;
  width: 162px;
  padding: 10px 0;
  margin: 30px auto;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  background-color: #41abbe;
}
.w_coursedetial a:hover {
  background-color: #769d43;
}
@media (min-width: 640px) {
  .w_coursedetial h3 {
    font-size: 28px;
  }
  .w_coursedetial h3 span {
    font-size: 14px;
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .w_coursedetial h3 {
    font-size: 38px;
  }
  .w_coursedetial h3 span {
    font-size: 18px;
    padding-top: 20px;
  }
  .w_coursedetial a {
    width: 280px;
    padding: 15px 0px;
    font-size: 18px;
  }
  .w_coursedetial table tr td {
    font-size: 13px;
  }
}
.w_diagnose {
  *zoom: 1;
  zoom: 1;
  background: url(../images/wbg_02.jpg) no-repeat;
  background-size: cover;
  padding: 25px 15px;
  font-size: 22px;
  color: #ffffff;
}
.w_diagnose:after {
  content: " ";
  clear: both;
  display: table;
}
.w_diagnose h4 {
  display: block;
  padding: 6px 0;
}
.w_diagnose h4 em {
  font-size: 16px;
}
.w_diagnose h4 i {
  color: #ff0000;
}
.w_diagnose p {
  *zoom: 1;
  zoom: 1;
  padding-top: 30px;
}
.w_diagnose p:after {
  content: " ";
  clear: both;
  display: table;
}
.w_diagnose p a {
  font-size: 12px;
  color: #ffffff;
  display: block;
  position: relative;
  padding: 5px 20px;
}
.w_diagnose p a:before {
  content: "";
  display: inline-block;
  background: url(../images/list_03.png) no-repeat;
  position: absolute;
  left: 0;
  top: 5px;
  width: 20px;
  height: 20px;
}
.w_diagnose span {
  display: block;
  width: 135px;
  height: 30px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}
.w_diagnose span a {
  display: block;
  font-size: 12px !important;
  line-height: 30px;
}
.w_diagnose span a:hover {
  color: #7ca14c;
}
@media (min-width: 640px) {
  .w_diagnose {
    padding: 43px 25px;
    font-size: 25px;
  }
  .w_diagnose h4 em {
    font-size: 19px;
  }
  .w_diagnose p a {
    font-size: 14px;
  }
  .w_diagnose span {
    width: 160px;
    height: 35px;
  }
  .w_diagnose span a {
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  .w_diagnose {
    padding: 95px 0  30px 140px;
    font-size: 40px;
  }
  .w_diagnose h4 em {
    font-size: 34px;
  }
  .w_diagnose p a {
    font-size: 18px;
  }
  .w_diagnose span {
    width: 300px;
    height: 63px;
    margin-left: 85px!important;
  }
  .w_diagnose span a {
    line-height: 63px;
    font-size: 18px !important;
  }
}
/*# sourceMappingURL=winter.css.map */