<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="LmsNameDB" connectionString="Data Source=192.168.10.17;DataBase=lms2009;uid=lmssa17;pwd=wangxiaodb2013" />
    <add name="NameDB" connectionString="Data Source=192.168.10.17;DataBase=GfeduInfoPltDB;uid=GfeduManagerUser2013;pwd=GfeduManager40070095962013" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="1800" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
                <clear />
                <add value="index.html" />
                <add value="index.shtml" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".shtml" allowed="true" />
          <add fileExtension=".aspx" allowed="true" />
          <add fileExtension=".html" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".shtml" mimeType="text/html" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.shtml" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BusinessServiceServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.jianzhou.sh.cn/JianzhouSMSWSServer/services/BusinessService" binding="basicHttpBinding" bindingConfiguration="BusinessServiceServiceSoapBinding" contract="JianzhouWebservice.BusinessService" name="BusinessServicePort" />
    </client>
  </system.serviceModel>
</configuration>
