/*登录框、注册框*/
/*index start*/
.body_main {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.box_title {
  width: 410px;
  height: 80px;
  padding: 0;
  position: relative;
}
.box_title .text_content {
  text-align: center;
  padding: 20px 0 10px 0;
}
.box_title .text_content h1 {
  font-weight: normal;
}
.box_main {
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: #ffffff;
  width: 410px;
  margin: 6% auto 50%;
}
.box_bottom {
  width: 477px;
  height: 7px;
  padding: 0;
}
.login_msg_wrap{
   display: none; 
  width: 320px;
  height: 30px;
  padding-right: 20px;
  margin: 10px auto;
}
.login_msg{
  width: 318px;
  height: 28px;
  border: 1px solid #f26e6b;
  line-height: 28px;
  color: #f26e6b; 
}
.login_msg i{
  display: inline-block;
  padding: 0 5px;
}
/*Tooltips*/
.tooltips_main {
  position: absolute;
  left: 0;
  margin: -5px 0 0 2px;
  z-index: 999;
  bottom: -55px;
}
.tooltips_box,
.tooltips,
.msg {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  top: 2px;
}
.tooltips_box {
  line-height: 1.5;
}
.tooltips {
  margin: 0 -2px;
}
.msg {
  color: #f26e6b;
  text-shadow: 0 1px 0 #FFFFFF;
  font-size: 12px;
}
.ov {
  position: absolute;
  left: 30%;
  overflow: hidden;
  width: 15px;
  height: 15px;
  margin: 16px 0 0 0;
  display: inline;
}
.field-all {
  width: 340px;
  margin: 0 auto;
}
.field-all input {
  color: #bbbbba;
  width: 320px;
  padding: 7px 9px;
  border-radius: 3px;
  outline-color: #4ac7e7;
  border: 1px solid #d9d9d9;
  font-size: 15px;
}
/*regist*/
.field-group {
  height: 65px;
  position: relative;
}
.register .form_submit .fieldset .field-group .title {
  float: left;
  width: 120px;
  text-align: right;
  margin: 4px 0 0 0;
  font-size: 14px;
}
.register .form_submit .fieldset .field-group .tips {
  float: left;
  width: 250px;
  color: #8E8E8E;
}
/*end regist*/

.newLoginB {
  display: block;
  text-align: right;
  padding: 10px 12px 0 0;
  color: #1ca3b6;
}
.newclosereg {
  display: block;
  position: absolute;
  right: -46px;
  background: rgba(0, 0, 0, 0.3);
  padding: 4px 13px 4px 18px;
  color: #fff;
  font-size: 22px;
  top: -36px;
  border-radius: 0 3px 3px 0;
}
.newclosereg:hover {
  text-decoration: none;
}
/*手机注册*/
.phoneReg {
  margin: 36px 12px 25px;
  color: #323232;
  font-size: 22px;
  text-align: center;
}
.xieyi input {
  width: 16px;
  height: 16px;
}
#submit,
#loginB {
  width: 100%;
  background: #33b0c4;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 16px;
}
#code_input input {
  width: 47%;
  float: left;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  padding: 7px 9px;
 /* background: #33b0c4;*/
}
#MsgReaDiv{
  display: inline-block;
  float: right;
  margin-right: 25px;
  font-size: 12px;
  color: #f26e6b;
  text-shadow: 0 1px 0 #FFFFFF;
}
#code_input button {
  padding: 7px 9px;
  float: right;
  border-radius: 3px;
  border: none;
  background: #33b0c4;
  color: #fff;
  width: 45%;
  font-size: 16px;
}
.div_submit {
  margin: 15px 0;
}
.msdl {
  text-align: right;
  color: #989898;
  padding-bottom: 15px;
}
.msdl a {
  color: #1ca3b6;
}
.handphone .msg {
  top: 0px;  
}
.register,
#login {
  position: relative;
}
/*登录*/
.mianDL {
  overflow: hidden;
}
.mianDL p {
  float: left;
}
.mianDL a {
  display: inline-block;
  float: right;
}
.mianDL a:hover {
  color: #4ebed1;
}
.mianDL input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.hzzh {
  overflow: hidden;
  margin-bottom: 15px;
}
.hzzh p {
  float: right;
}
.hzzh a {
  color: #1ca3b6;
}
.zjdl {
  float: left;
}
.zjdl span {
  color: #656666;
  position: relative;
  top: -15px;
}
.qq {
  background: url(../images2015/qq.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.weibo {
  background: url(../images2015/weibo.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 7px;
}
.qq:hover {
  background: url(../images2015/qqH.png) no-repeat;
}
.weibo:hover {
  background: url(../images2015/weiboH.png) no-repeat;
}
/* 登录注册 */
/* LESS Document */
.notice {
  background-image: url(../images2015/inputnotice.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  font-size: 12px;
  text-indent: 10px;
  line-height: 30px;
  color: #f26e6b;
  padding-bottom: 0;
}
.mbbox ul {
  padding: 20px 10px;
}
.mbbox ul li {
  padding: 5px 0;
  width: 100%;
  color: #666;
}
.mbbox ul li input[type="text"],
.mbbox ul li input[type="password"],
.mbbox ul li input[type="button"] {
  width: 100%;
}
.mbbox ul li.half input {
  width: 50%;
}
.mbbox ul li.half input[type="button"] {
  background-color: #c1c1c2;
}
.mbbox ul li a {
  color: #666;
  line-height: 30px;
}
.mbbox ul li span {
  float: right;
}
.mbbox ul li span a {
  color: #333;
}
.mbbox dl {
  padding: 10px;
  text-align: center;
}
.mbbox dl dt {
  border-bottom: solid 1px #ddd;
  height: 10px;
  position: relative;
  margin-bottom: 30px;
}
.mbbox dl dt h3 {
  position: absolute;
  width: 150px;
  top: 0;
  left: 50%;
  margin-left: -75px;
  background-color: #fff;
  font-size: 14px;
  color: #999;
}
.mbbox dl dd {
  width: 50%;
  float: left;
}
.mbbox dl dd a {
  color: #666;
}
.mbbox dl dd a:hover {
  color: #33b0c4;
}
.mbbox dl dd i {
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.mbbox dl dd i:hover.s1 {
  background-image: url(../images2015/qqbH.png);
}
.mbbox dl dd i:hover.s2 {
  background-image: url(../images2015/weibobH.png);
}
.mbbox dl dd i:hover img {
  opacity: 0;
  filter: alpha(opacity=0);
}
.screenbox {
  display: none;
}

input[type="button"] {
  background-color: #33b0c4;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/*5-14*/
.input_add_background #btn{line-height: 10px;}
.div_submit_button #loginB{line-height: 10px;}