
.friend{
	margin:0 auto 50px;
	h2{
		border-bottom: 1px solid #eee;
		overflow: hidden;
		zoom:1;
		span{
		    display: block;
		    float: left;
		    font-size: 16px;
		    color: #00abc0;
		    border-bottom: 1px solid #00abc0;
		    padding:14px 8px ;
		    font-weight: bold;
		}
		margin-bottom: 20px;
	}
	p{
		line-height:28px;
		a{
			padding:0 15px;
			border-right:1px solid #ddd;
		}
	}
}

@media (min-width:768px){
	.friend{
		h2{
		   span{
		   	 padding: 14px 19px 14px 27px;
			font-size: 18px;
		   }
		}
	}
}
@media (min-width:1200px){
	.friend{
		width:1200px;
		p{
			a:first-child{padding-left: 0;}
		}
	}
}