/**
*  description: CFA内训注册页
*  author: Dolores
*  date: 2015-6-4 16:05
**************************************************/

@import '../help/helpcom.less';   //公用样式

.helpcontent{
 article{
   p{
       line-height: 30px;
       &:nth-child(2){
           padding-bottom: 30px;
       }
       i{padding-right: 10px;}
   }
 }
}

