/* LESS Document */
/* 清除浮动 */
/* 顶部导航 */
.prosecinfo {
  display: none;
}
@media (min-width: 768px) {
  .prosecinfo {
    display: block;
    padding: 30px 40px;
    *zoom: 1;
  }
  .prosecinfo:after {
    content: " ";
    clear: both;
    display: table;
  }
  .prosecinfo li {
    float: left;
    width: 16.66%;
    text-align: center;
  }
  .prosecinfo li a {
    display: block;
    background-color: #fff;
    border: solid 1px #eee;
    border-radius: 2px;
    margin: 5px;
    color: #666;
    font-size: 14px;
    padding: 10px 0;
  }
  .prosecinfo li a:hover {
    background-color: #82c2cb;
    color: #fff;
  }
  .prosecinfo li.selected a {
    background-color: #82c2cb;
    color: #fff;
  }
}
/* 右侧导航 */
.proaside {
  display: none;
}
@media (min-width: 768px) {
  .proaside {
    display: block;
    float: right;
    width: 280px;
    padding-bottom: 30px;
    padding-left: 35px;
  }
  .proaside h2 {
    font-size: 16px;
    color: #333;
    line-height: 30px;
  }
  .proaside .prolistrttl {
    *zoom: 1;
    height: 30px;
  }
  .proaside .prolistrttl:after {
    content: " ";
    clear: both;
    display: table;
  }
  .proaside .prolistrttl li {
    float: left;
  }
  .proaside .prolistrttl li a {
    color: #666;
    font-size: 14px;
    padding: 10px 8px;
  }
  .proaside .prolistrttl li a:hover {
    color: #33b0c4;
    border-bottom: solid 2px #33b0c4;
  }
  .proaside .prolistrttl li.selected a {
    color: #33b0c4;
    border-bottom: solid 2px #33b0c4;
  }
  .proaside .ctn div {
    display: none;
  }
  .proaside .ctn div:first-child {
    display: block;
  }
  .proaside .prosidebox {
    border-radius: 2px;
    border: solid 1px #eee;
    background-color: #fff;
    margin-bottom: 30px;
  }
  .proaside .proasidefree {
    border-radius: 2px;
    border: solid 1px #eee;
    background-color: #fff;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
  }
  .proaside .proasidefree img {
    width: 100%;
  }
  .proaside .proasidefree p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -65px;
    width: 140px;
    height: 44px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .proaside .proasidefree p a {
    position: relative;
    width: 140px;
    height: 44px;
    display: block;
  }
  .proaside .proasidefree p a:hover strong {
    border-left-color: #30aec5;
  }
  .proaside .proasidefree p a:hover span {
    color: #30aec5;
  }
  .proaside .proasidefree p i {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .proaside .proasidefree p i strong {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
    border-style: dashed;
    border-color: transparent;
    border-left-color: #fff;
    border-width: 10px 0 10px 14px;
    margin: 10px 0 0 17px;
  }
  .proaside .proasidefree p span {
    display: inline-block;
    line-height: 44px;
    padding-left: 55px;
    color: #fff;
    font-size: 16px;
  }
  .proaside .proasidefree dl {
    *zoom: 1;
    overflow: hidden;
    padding: 5px;
  }
  .proaside .proasidefree dl:after {
    content: " ";
    clear: both;
    display: table;
  }
  .proaside .proasidefree dl dt {
    width: 100%;
    font-size: 14px;
    border-bottom: dashed 1px #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .proaside .proasidefree dl dt a {
    color: #323232;
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  }
  .proaside .proasidefree dl dt a:hover {
    color: #38a8bb;
  }
  .proaside .proasidefree dl dd {
    width: 50%;
    overflow: hidden;
    height: 30px;
    float: left;
    padding: 0 0 0 35px;
    box-sizing: border-box;
    line-height: 30px;
    position: relative;
    color: #989898;
    font-size: 12px;
  }
  .proaside .proasidefree dl dd i {
    position: absolute;
    top: 0;
    left: 0;
  }
  .proaside .proasidefree dl dd i.s1 {
    width: 30px;
    height: 30px;
  }
  .proaside .proasidefree dl dd i.s2 {
    width: 12px;
    height: 12px;
    top: 3px;
    left: 10px;
  }
  .proaside .proasidefree dl dd span {
    color: #656666;
    font-size: 14px;
  }
  .proaside .proasideads {
    *zoom: 1;
    border: solid 1px #eee;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 30px;
  }
  .proaside .proasideads:after {
    content: " ";
    clear: both;
    display: table;
  }
  .proaside .proasideads a {
    position: relative;
    display: block;
  }
  .proaside .proasideads a img {
    width: 100%;
  }
  .proaside .proasideads a span {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
  }
}
/* 左侧内容 */
.procontent {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}
.procontent h1 {
  font-size: 18px;
  color: #333;
  padding: 20px 10px;
  text-align: center;
}
.procontent .procontenttl {
  *zoom: 1;
  line-height: 30px;
  padding: 20px 20px 10px 20px;
}
.procontent .procontenttl:after {
  content: " ";
  clear: both;
  display: table;
}
.procontent .procontenttl h2 {
  font-size: 16px;
  padding-left: 10px;
  color: #999;
}
.procontent .procontenttl span {
  float: right;
}
.procontent .procontenttl li {
  float: left;
  text-align: center;
}
.procontent .procontenttl li a {
  display: block;
  background-color: #fff;
  border: solid 1px #eee;
  border-radius: 2px;
  margin: 3px;
  color: #666;
  font-size: 14px;
  padding: 2px 4px;
}
.procontent .procontenttl li a:hover,
.procontent .procontenttl li a.selected {
  background-color: #82c2cb;
  color: #fff;
}
.procontent .procontenttl li.selected a {
  background-color: #82c2cb;
  color: #fff;
}
.procontent .proconinfo {
  padding: 10px 0;
  color: #666;
  text-align: center;
}
.procontent .proconinfo time {
  padding: 0 10px;
}
.procontent .proconinfo span {
  display: inline-block;
  padding-left: 10px;
  padding-right: 15PX;
}
.procontent .proconinfo span a {
  margin-left: 10px;
  color: #666;
}
.procontent .proconinfo span a:hover {
  color: #C00;
}
.procontent .proconinfo span a:active {
  color: #666;
}
.procontent .proconinfo img {
  vertical-align: middle;
  padding-right: 5px;
}
.procontent .article {
  padding: 15px;
  background: #f8f8f8;
  margin: 15px 0;
  color: #999;
  line-height: 24px;
}
.procontent p {
  padding-bottom: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #999;
}
.procontent p.proconinfopic {
  text-align: center;
}
.procontent p.proconinfopic img {
  width: 100%;
}
.procontent p a {
  color: #33b0c4;
}
.procontent p a:hover {
  color: #a6946e;
}
.procontent h3 {
  font-size: 16px;
  color: #333;
  line-height: 40px;
  margin: 10px 0;
}
.procontent .proeditor {
  border-top: solid 1px #eee;
  margin-top: 20px;
}
.procontent .proeditor h4 {
  padding: 10px 0;
  font-size: 16px;
}
.procontent .proeditor ul {
  padding-bottom: 20px;
}
.procontent .proeditor li {
  position: relative;
  padding-left: 70px;
}
.procontent .proeditor li span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 60px;
  padding: 3px 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #82c2cb;
}
.procontent .proeditor a {
  font-size: 14px;
  display: block;
  padding: 10px 0;
  color: #262626;
}
.procontent .proeditor a:hover,
.procontent .proeditor a:active {
  color: #666;
}
.procontent .section {
  *zoom: 1;
  background: #f8f8f8;
  margin: 10px 0;
  border-top: solid 1px #eee;
  padding: 10px;
}
.procontent .section:after {
  content: " ";
  clear: both;
  display: table;
}
.procontent .section li {
  width: 50%;
  float: left;
}
.procontent .section a {
  font-size: 14px;
  display: block;
  padding: 10px 0;
  color: #262626;
}
.procontent .section a:hover,
.procontent .section a:active {
  color: #666;
}
@media (min-width: 640px) {
  .procontent .proctinfo p {
    float: left;
  }
  .procontent .proctinfo p img {
    width: 200px;
  }
  .procontent .proctinfo dl {
    overflow: hidden;
  }
  .procontent .proctinfo dt a {
    width: 100%;
    float: left;
  }
  .procontent .proctinfo dt span {
    width: 100%;
    float: left;
    padding: 0;
    text-align: left;
    padding-left: 10px;
  }
  .procontent .proctinfo dd a {
    margin: 0 4px;
  }
}
@media (min-width: 768px) {
  .procontent {
    overflow: hidden;
    padding: 40px;
    border-radius: 2px;
    border: solid 1px #eee;
  }
  .procontent h1 {
    font-size: 24px;
  }
  .procontent .procontenttl {
    line-height: 30px;
    padding: 0 20px 10px 20px;
  }
  .procontent .procontenttl h2 {
    padding-left: 0;
    width: 80px;
    line-height: 50px;
    float: left;
  }
  .procontent .procontenttl ul {
    overflow: hidden;
  }
  .procontent .procontenttl li {
    margin: 0 5px;
  }
}
@media (min-width: 992px) {
  .procontent p.proconinfopic img {
    width: auto;
  }
  .procontent .procontenttl li a {
    padding: 2px 10px;
  }
  .procontent .proctinfo p {
    float: left;
  }
  .procontent .proctinfo p img {
    width: 270px;
  }
  .procontent .proctinfo dl {
    overflow: hidden;
  }
  .procontent .proctinfo dt a {
    width: 60%;
    float: left;
  }
  .procontent .proctinfo dt span {
    width: 40%;
    float: left;
    padding: 0;
    text-align: right;
  }
  .procontent .proctinfo dd a {
    margin: 0 20px;
  }
}
.procsearch {
  *zoom: 1;
  padding-bottom: 20px;
  line-height: 35px;
}
.procsearch:after {
  content: " ";
  clear: both;
  display: table;
}
.procsearch h2,
.procsearch span {
  width: 100%;
  display: block;
  text-align: center;
}
.procsearch h2 {
  font-size: 14px;
}
.procsearch h2 strong {
  color: #ff5400;
  padding: 0 10px;
  font-size: 18px;
}
.procsearch span {
  font-size: 14px;
}
.procsearch span q {
  color: #33b0c4;
  padding: 0 10px;
}
@media (min-width: 480px) {
  .procsearch {
    padding-bottom: 30px;
  }
  .procsearch h2,
  .procsearch span {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  .procsearch h2 {
    text-align: left;
  }
  .procsearch span {
    text-align: right;
  }
}
