@charset "utf-8";
/* CSS Document */
*{font-family:"微软雅黑";}
body{margin:0px auto;padding:0px;}
.header{background:#075586;width:100%;margin:0px auto;padding:0px;height:100px;}
.head_nr{width:1080px;margin:0px auto;padding:0px;}
.logo{margin:15px 0 0 15px;float:left;}
.nav{float:right;margin-top:30px;}
.nav ul li{float:left;}
.nav ul .link{ width:80px;}
.nav ul .link a{color:#fff;}
.nav ul .line{color:#fff; width:30px;}
.Contact{ float:right;width:600px; margin-right:20px;}
.Contact h3{ float:right; margin-top:20px; margin-left:40px;font-weight:normal;}




.bottom{background-color:#075586;background-image:url(../images/btmbg_03.png);background-position:0 bottom;background-repeat:repeat-x;margin-top:20px;padding:20px 0 50px;font-size:12px; overflow:hidden;}
.inowri{width:440px;clear:both;margin-top:10px;}
.inoti{margin-top:40px;}
.inowri p{color:#fff;margin-right:10px;}
.inowri b{color:#fff;line-height:30px;}
.inowri ul{display:block;float:left;background-image:url(../images/line---_03.png);background-position:0 0;background-repeat:no-repeat;padding-left:10px;}
.inowri li{color:#fff;line-height:24px;}
.inowri .lianxi p{line-height:25px;}
.copyright{text-align:right;margin-top:30px;color:#fff;}

.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.width{width:1080px;margin:0 auto;}


