
/* 乐语 */
/* 侧边咨询 */
.siderbar {
  position: fixed;
  right: 0px;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: #15657A;
    li {
    float: left;
    width: 50%;
    padding: 5px 0;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    &:first-child {
        display: none;
        background-size: 100% 100%;
        width: 100%;
        height: 100px;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        span {
          position: absolute;
          display: block;
          width: 100%;
          font-size: 14px;
          padding: 6px 0;
          background: #76c000;
          bottom: 0;
        }
      }
    a {
      color: #ffffff;
      font-size: 12px;
      float: none;
      text-decoration:none;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .iconsearch {
    background: #0380c4;
    display: none;
  }
  .iconwrite {
    background: #008edc;
    display: none;
  }
  .iconcomment {
    border-right: 1px solid #dddddd;
    img {
      padding-top: 10px;
    }
  }
  .iconlcok {
    background: #31a6ed;
    display: none;
  }
  .iconphone {
    border-bottom: 0;
    display:block;
  }
}

@media (min-width: 768px) {
  .siderbar {
    width: 60px;
    right: 0;
    bottom: 50%;
    margin-bottom: -204px;
    background: #4ab1ef;
    li {
      width: 100%;
      float: none;
      &:first-child {
        display: block;
        height: 75px;
      }
    }
    .iconsearch {
      background: #0380c4;
      display: block;
    }
    .iconwrite {
      background: #008edc;
      display: block;
    }
    .iconcomment {
      background: #129beb;
      border-right: 0;
      display: block;
      img {
        padding-top: 10px;
      }
    }
    .iconlcok {
      background: #31a6ed;
      display: block;
    }
  }
}
@media (min-width: 1380px) {
  .siderbar {
    width: 90px;
    right: 30px;
    margin-bottom: -204px;
    li {
      width: 100%;
      float: none;
      &:first-child {
        height: 100px;
      }
    }
  }
}