/* LESS Document */
/* LESS Document */
/* 清除浮动 */
/*常用颜色*/
/*常用字号*/
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/*边框圆角*/
/* 圆角  */
/*配模式定位*/
/*下阴影*/
/*弹出窗口半透明灰*/
/*1200屏*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* 背景自适应 */
.secTabs {
  *zoom: 1;
  margin: 0px auto 20px;
  padding: 35px 0px 0px;
  font-size: 16px;
  color: #333333;
}
.secTabs:after {
  content: " ";
  clear: both;
  display: table;
}
.secTabs ul {
  *zoom: 1;
  border-bottom: 2px solid #e8e8e8;
}
.secTabs ul:after {
  content: " ";
  clear: both;
  display: table;
}
.secTabs li {
  float: left;
  width: 33.33%;
  text-align: center;
  padding-bottom: 15px;
  box-sizing: border-box;
  margin-bottom: -2px;
  transition: 0s;
  -moz-transition: 0s;
  -webkit-transition: 0s;
}
.secTabs .selected {
  border-bottom: 2px solid #ef3739;
}
.secTabs .selected a {
  color: #ef3739;
}
@media (min-width: 640px) {
  .secTabs a {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .secTabs {
    padding-top: 50px;
  }
  .secTabs li {
    width: 160px;
  }
}
@media (min-width: 1200px) {
  .secTabs {
    width: 1200px;
    margin: 0 auto;
    margin: 0px auto 20px;
  }
}
.fc_wrap {
  *zoom: 1;
  background-color: #f8f8f8;
  padding: 0 10px;
}
.fc_wrap:after {
  content: " ";
  clear: both;
  display: table;
}
.fc_information {
  *zoom: 1;
  padding-bottom: 40px;
  display: none;
}
.fc_information:after {
  content: " ";
  clear: both;
  display: table;
}
.fc_information:first-child {
  display: block;
}
.fc_information ul {
  *zoom: 1;
  margin: 40px auto auto;
}
.fc_information ul:after {
  content: " ";
  clear: both;
  display: table;
}
.fc_information li {
  *zoom: 1;
  float: left;
  width: 48%;
  display: none;
  box-sizing: border-box;
}
.fc_information li:after {
  content: " ";
  clear: both;
  display: table;
}
.fc_information li:first-child {
  margin-right: 4%;
}
.fc_information li a {
  display: block;
  background-color: #ffffff;
  padding-bottom: 25px;
  border: 1px solid #f8f8f8;
}
.fc_information li a img {
  width: 100%;
}
.fc_information li a:hover {
  border-color: #dedede;
}
.fc_information li a:hover h3 {
  color: #ea3a3c;
}
.fc_information li:nth-child(-n+2) {
  display: block;
}
.fc_information h3 {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #333333;
  font-size: 16px;
  margin: 10px 10px 5px;
}
.fc_information h3:hover {
  color: #ea3a3c;
}
.fc_information p {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #999999;
  font-size: 12px;
  padding: 5px 10px 0px;
}
@media (min-width: 640px) {
  .fc_wrap {
    padding: 0 30px;
  }
  .fc_wrap .fc_information li {
    padding: 0px;
  }
}
@media (min-width: 768px) {
  .fc_information li {
    width: 32.3333%;
  }
  .fc_information li:first-child {
    margin-right: 0;
  }
  .fc_information li:nth-child(2) {
    margin: auto 1.33333%;
  }
  .fc_information li:nth-child(-n+3) {
    display: block;
  }
}
@media (min-width: 992px) {
  .fc_wrap .fc_information li {
    width: 24%;
  }
  .fc_wrap .fc_information li:nth-child(2) {
    margin: auto 0;
  }
  .fc_wrap .fc_information li:not(:first-child) {
    margin-left: 1.33333%;
  }
  .fc_wrap .fc_information li:nth-child(-n+4) {
    display: block;
  }
}
@media (min-width: 1200px) {
  .fc_wrap {
    padding: 0!important;
  }
  .fc_wrap .fc_information {
    width: 1200px;
    margin: 0 auto;
  }
  .fc_wrap .fc_information li {
    width: 19.1%;
    display: block;
  }
  .fc_wrap .fc_information li:not(:first-child) {
    margin-left: 1.111%;
  }
  .fc_wrap .fc_information li p {
    font-size: 14px;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-ivr5ln');
  src: url('fonts/icomoon.eot?#iefix-ivr5ln') format('embedded-opentype'), url('fonts/icomoon.ttf?-ivr5ln') format('truetype'), url('fonts/icomoon.woff?-ivr5ln') format('woff'), url('fonts/icomoon.svg?-ivr5ln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover {
  color: #ef3739;
}
.banner-h {
  position: relative;
  overflow: hidden!important;
}
.banner-h .bdIndex li {
  box-sizing: border-box;
  overflow: hidden;
}
.banner-h .bdIndex li article {
  padding: 25% 2%;
}
.banner-h .bdIndex li article img {
  width: 90%;
}
.banner-h .bdIndex li.ban1 {
  background: url(../images/333_02.png) top center;
}
.banner-h .bdIndex li.ban2 {
  background: url(../images/ad2.png) top center;
}
.banner-h .bdIndex li.ban3 {
  background: url(../images/ad.png) top center;
}
.banner-h .hdIndex {
  height: 8px;
  width: 99px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  *zoom: 1;
}
.banner-h .hdIndex:after {
  content: " ";
  clear: both;
  display: table;
}
.banner-h .hdIndex li {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  float: left;
  margin-right: 22px;
  text-indent: 9999px;
  cursor: pointer;
}
.banner-h .hdIndex li.on {
  background: #ef3739;
}
.banner-h i {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-size: 26px;
  width: 30px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  -moz-background: rgba(255, 255, 255, 0.5);
  -webkit-background: rgba(255, 255, 255, 0.5);
  -o-background: rgba(255, 255, 255, 0.5);
  color: #ef3739;
  cursor: pointer;
}
@media (min-width: 640px) {
  .banner-h .bdIndex li article {
    padding: 20% 5%;
  }
  .banner-h .bdIndex li article img {
    width: 400px;
  }
  .banner-h .bdIndex li.ban3 img {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .banner-h .bdIndex li article {
    padding: 17% 10%;
  }
}
@media (min-width: 992px) {
  .banner-h .bdIndex li article {
    padding: 14% 10%;
  }
  .banner-h .bdIndex li article img {
    width: 460px;
  }
  .banner-h .bdIndex li.ban3 img {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .banner-h .bdIndex li {
    width: 100%;
  }
  .banner-h .bdIndex li article {
    padding: 7% 18%;
  }
  .banner-h .bdIndex li article img {
    width: 500px;
  }
  .banner-h .bdIndex li.ban3 img {
    width: 720px;
  }
  .banner-h .contronal {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .banner-h .contronal i {
    display: block;
  }
  .banner-h .contronal i.icon-prev {
    left: 0%;
  }
  .banner-h .contronal i.icon-next {
    right: 0%;
  }
}
.f_bgcolor {
  background-color: #f8f8f8;
}
.I_content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 30px;
  *zoom: 1;
  display: none;
}
.I_content:after {
  content: " ";
  clear: both;
  display: table;
}
.I_content span {
  margin: 0px auto 50px;
  display: block;
}
.I_content span img {
  width: 100%;
}
.I_content .Ic_left {
  *zoom: 1;
  width: 44%;
  float: left;
  margin-right: 4%;
  box-sizing: border-box;
}
.I_content .Ic_left:after {
  content: " ";
  clear: both;
  display: table;
}
.I_content .Ic_left h3 {
  padding: 10px;
  line-height: 25px;
  font-size: 18px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.I_content .Ic_left img {
  width: 100%;
}
.I_content .Ic_left p {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #999;
  padding: 0px 10px;
}
.I_content .Ic_right {
  *zoom: 1;
  width: 50%;
  float: left;
}
.I_content .Ic_right:after {
  content: " ";
  clear: both;
  display: table;
}
.I_content .Ic_right li {
  display: none;
  box-sizing: border-box;
  *zoom: 1;
  padding: 0 10px 0 0;
  float: left;
  border: 1px solid #f8f8f8;
}
.I_content .Ic_right li:after {
  content: " ";
  clear: both;
  display: table;
}
.I_content .Ic_right li:nth-child(-n+3) {
  display: block;
}
.I_content .Ic_right li:hover {
  background-color: #fff;
  border-color: #dedede;
}
.I_content .Ic_right li:hover a {
  color: #ef3739;
}
.I_content .Ic_right li img {
  float: left;
}
.I_content .Ic_right li a,
.I_content .Ic_right li h5 {
  display: flex;
  padding: 5px 0px 0 10px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.I_content .Ic_right li h5 {
  color: #999999;
}
@media (min-width: 640px) {
  .I_content {
    display: block;
    padding: 0 30px 30px;
  }
  .I_content .Ic_left {
    padding-bottom: 10px;
    border: 1px solid #f8f8f8;
  }
  .I_content .Ic_left:hover {
    background-color: #fff;
    border-color: #dedede;
  }
  .I_content .Ic_left:hover a {
    color: #ef3739;
  }
  .I_content .Ic_right li {
    width: 100%;
    margin: 0 0 10px 10px;
  }
  .I_content .Ic_right .none {
    display: none;
  }
}
@media (min-width: 768px) {
  .I_content .Ic_right li {
    margin: 0 0 20px 10px;
  }
}
@media (min-width: 992px) {
  .I_content .Ic_left {
    width: 32%;
  }
  .I_content .Ic_right {
    width: 64%;
    box-sizing: border-box;
  }
  .I_content .Ic_right li {
    width: 48%;
    display: block!important;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .I_content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 25px;
  }
  .I_content .Ic_left h3,
  .I_content .Ic_left p {
    padding: 10px 15px;
  }
  .I_content .Ic_right li {
    margin: 0 0 40px 10px;
  }
}
.economic {
  *zoom: 1;
  padding: 0 10px;
  margin: 0 0 50px;
  box-sizing: border-box;
}
.economic:after {
  content: " ";
  clear: both;
  display: table;
}
.economic .secTabs h2 {
  border-right: 1px solid #e8e8e8;
  font-size: 16px;
  float: left;
  padding-right: 15px;
}
.economic .secTabs li {
  width: 19%;
}
.economic .secTabs li a {
  font-size: 14px;
}
.economic .secTabs .congye {
  width: 100px;
}
.economic .info2 {
  *zoom: 1;
  margin: 0 auto;
  display: none;
}
.economic .info2:after {
  content: " ";
  clear: both;
  display: table;
}
.economic .info2:first-child {
  display: block;
}
.economic .info2 .in_lt {
  display: none;
}
.economic .info2 .in_md {
  width: 48%;
  *zoom: 1;
  margin: 20px auto 10px ;
  float: left;
  box-sizing: border-box;
  border: 1px solid #fff;
}
.economic .info2 .in_md:after {
  content: " ";
  clear: both;
  display: table;
}
.economic .info2 .in_md:hover {
  border-color: #dedede;
}
.economic .info2 .in_md a {
  display: block;
  *zoom: 1;
  position: relative;
  padding-bottom: 15px;
}
.economic .info2 .in_md a:after {
  content: " ";
  clear: both;
  display: table;
}
.economic .info2 .in_md img {
  width: 100%;
}
.economic .info2 .in_md .icon-bookmark {
  position: absolute;
  font-size: 58px;
  display: block;
  top: -10px;
  left: 0;
}
.economic .info2 .in_md .icon-bookmark.blue {
  color: #2189c5;
}
.economic .info2 .in_md .icon-bookmark.yellow {
  color: #ffb013;
}
.economic .info2 .in_md .icon-bookmark.red {
  color: #c62224;
}
.economic .info2 .in_md .icon-bookmark em {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
}
.economic .info2 .in_md h3 {
  font-size: 14px;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.economic .info2 .in_md p {
  font-size: 12px;
  color: #999999;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
  padding: 0px 10px 0px;
}
.economic .info2 .in_md p i {
  color: #ffb013;
  font-size: 14px;
  padding-right: 5px;
}
.economic .info2 .in_md p span {
  display: block;
}
.economic .info2 .in_md p q {
  color: #c62224;
}
.economic .info2 .in_md.rt {
  margin-right: 4%;
}
.economic .info2 .learnCenter {
  display: none;
}
.economic .info2 .CFAbutton {
  clear: both;
  width: 260px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
  background-color: #ef3739;
}
.economic .info2 .CFAbutton a {
  color: #ffffff;
}
.economic .info2 .CFAbutton:hover {
  background-color: #D31E20;
}
@media (min-width: 640px) {
  .economic {
    padding: 0 30px;
  }
  .economic .secTabs h2 {
    font-size: 22px;
  }
  .economic .secTabs li {
    width: 100px;
  }
  .economic .info2 .in_md h3 {
    font-size: 18px;
    padding: 20px 10px;
  }
  .economic .info2 .in_md p {
    font-size: 14px;
  }
  .economic .info2 .in_md p span {
    float: right;
  }
}
@media (min-width: 768px) {
  .economic .info2 .in_lt {
    display: block;
    box-sizing: border-box;
    width: 33%;
    float: left;
    padding-right: 30px;
    margin: 20px auto 10px;
  }
  .economic .info2 .in_lt h3 {
    font-size: 18px;
    margin: 0px auto 20px;
  }
  .economic .info2 .in_lt p {
    line-height: 25px;
    color: #999999;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: 12px;
  }
  .economic .info2 .in_lt a {
    display: block;
    background-color: #ef3739;
    width: 128px;
    height: 32px;
    color: #ffffff;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    margin: 30px 0 0px;
  }
  .economic .info2 .in_lt a:hover {
    background-color: #D31E20;
  }
  .economic .info2 .in_md {
    width: 31.333%;
  }
  .economic .info2 .in_md p i {
    font-size: 16px;
  }
  .economic .info2 .in_md p span {
    float: none;
  }
  .economic .info2 .CFAbutton {
    display: none;
  }
}
@media (min-width: 992px) {
  .economic .info2 .in_lt p {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  .economic .info2 .in_lt a {
    width: 148px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 48px;
  }
  .economic .info2 .in_md p span {
    float: right;
  }
}
@media (min-width: 1200px) {
  .economic {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
  }
  .economic .secTabs h2 {
    width: 95px;
    margin: 15px 0;
    font-size: 20px;
  }
  .economic .secTabs li {
    width: 60px;
    margin: 0 16px -2px;
    padding: 18px 0;
  }
  .economic .secTabs li a {
    font-size: 16px;
  }
  .economic .info2 .in_lt {
    width: 25%;
  }
  .economic .info2 .in_md {
    width: 25%;
    padding: 12px 12px 20px;
  }
  .economic .info2 .in_md.rt {
    margin-right: 0;
  }
  .economic .info2 .in_md h3 {
    font-size: 16px;
  }
  .economic .info2 .learnCenter {
    *zoom: 1;
    float: right;
    display: block;
  }
  .economic .info2 .learnCenter:after {
    content: " ";
    clear: both;
    display: table;
  }
  .economic .info2 .learnCenter h3 {
    font-size: 20px;
    margin: 0 auto 10px;
  }
  .economic .info2 .learnCenter table {
    *zoom: 1;
  }
  .economic .info2 .learnCenter table:after {
    content: " ";
    clear: both;
    display: table;
  }
  .economic .info2 .learnCenter table td {
    padding: 20px 5px;
    text-align: center;
    font-size: 12px;
    width: 86px;
    border: 1px solid #ddd!important;
    box-sizing: border-box;
  }
  .economic .info2 .learnCenter table td:hover a,
  .economic .info2 .learnCenter table td:hover i {
    color: #ef3739;
  }
  .economic .info2 .learnCenter table td i {
    display: block;
    font-size: 27px;
    color: #cccccc;
  }
}
.f_links {
  *zoom: 1;
  padding: 0 10px;
  box-sizing: border-box;
}
.f_links:after {
  content: " ";
  clear: both;
  display: table;
}
.f_links .secTabs {
  margin: 40px auto;
  border-bottom: 2px solid #e8e8e8;
  *zoom: 1;
}
.f_links .secTabs:after {
  content: " ";
  clear: both;
  display: table;
}
.f_links .secTabs h2 {
  width: 95px;
  margin: 15px 0;
  float: left;
  font-size: 20px;
}
.f_links .lists {
  *zoom: 1;
  margin-bottom: 50px;
}
.f_links .lists:after {
  content: " ";
  clear: both;
  display: table;
}
.f_links .lists li {
  width: 48%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #cccccc;
  float: left;
  margin: 10px 0;
  box-sizing: border-box;
}
.f_links .lists li:hover {
  background-color: #ef3739;
  border: none;
}
.f_links .lists li:hover a {
  color: #ffffff;
}
.f_links .lists li:nth-child(odd) {
  margin-right: 4%;
}
@media (min-width: 640px) {
  .f_links {
    padding: 0 30px;
  }
  .f_links .lists li {
    width: 23%;
    font-size: 16px;
    margin-right: 2%!important;
  }
  .f_links .lists li.bank {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .f_links {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
  }
  .f_links .lists li {
    width: 12.28%;
  }
}
