/* LESS Document */
/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #ffffff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/* 面包屑 */


.crumb {
  display: block;
  *zoom: 1;
  zoom: 1;
  line-height: 50px;
}
.crumb:after {
  content: " ";
  clear: both;
  display: table;
}
.crumb p {
  color: #999;
}
.crumb p a {
  padding: 0 10px;
}
.crumb p span {
  padding-left: 10px;
}

/* LESS Document */
.noticeLR {
  background-image: url(../images2015/inputnotice.png);
  background-position: 0px 1px;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  font-size: 12px;
  text-indent: 10px;
  color: #f26e6b;
  padding-bottom: 0;
  padding-left: 5px;
  position: absolute;
}
.noticeLR a {
  line-height: 10px !important;
}
.noticeLR_verifyCodeP {
  right: 0;
  top: 38px;
}
.noticeLR_verifyCodeP a {
  line-height: 10px;
}


.screenbox .screencontent {
  padding: 20px 10px;
}
.screenbox .screencontent .contentbox {
  border: solid 1px #d9d9d9;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  position: relative;
  height: 455px;
  background: #fff;
}
.screenbox .screencontent .contentbox .lcontent {
  padding-top: 40px;
  padding-right: 350px;
}
.screenbox .screencontent .contentbox .lcontent h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
}
.screenbox .screencontent .contentbox .lcontent ul {
  width: 350px;
  margin: 0 auto;
  padding: 20px 10px;
}
.screenbox .screencontent .contentbox .lcontent ul li {
  padding: 5px 0 20px;
  width: 100%;
  color: #666;
}
.screenbox .screencontent .contentbox .lcontent ul li input[type="text"],
.screenbox .screencontent .contentbox .lcontent ul li input[type="password"],
.screenbox .screencontent .contentbox .lcontent ul li input[type="button"] {
  width: 100%;
}
.screenbox .screencontent .contentbox .lcontent ul li.half input {
  width: 50%;
}
.screenbox .screencontent .contentbox .lcontent ul li a {
  color: #666;
  line-height: 30px;
}
.screenbox .screencontent .contentbox .lcontent ul li img {
  /*padding-left: 10px;*/
}
.screenbox .screencontent .contentbox .lcontent ul li span {
  float: right;
}
.screenbox .screencontent .contentbox .lcontent ul li span a {
  color: #333;
}
.screenbox .screencontent .contentbox .lcontent ul li span a strong {
  color: #1ca3b6;
}
.screenbox .screencontent .contentbox .lcontent ul li dt {
  width: 125px;
  float: left;
  line-height: 30px;
  padding-top:8px;
}
.screenbox .screencontent .contentbox .lcontent ul li dd {
  overflow: hidden;
}
.screenbox .screencontent .contentbox .lcontent ul li dd i {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.screenbox .screencontent .contentbox .lcontent ul li dd i:hover.s1 {
  background-image: url(../../images/qqH.png);
}
.screenbox .screencontent .contentbox .lcontent ul li dd i:hover.s2 {
  background-image: url(../../images/weiboH.png);
}
.screenbox .screencontent .contentbox .lcontent ul li dd i:hover img {
  opacity: 0;
  filter: alpha(opacity=0);
}
.screenbox .screencontent .contentbox .rcontent {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
}
.screenbox .screencontent .contentbox .rcontent img {
  width: 350px;
  height: 455px;
}
.screenbox .sfooter {
  text-align: center;
  padding-bottom: 60px;
}


.login_msg_wrap {
  width: 340px;
}

.screenbox .screencontent {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 10px;
}
.screenbox .screencontent .contentbox {
  height: 540px;
}
.screenbox .screencontent .contentbox .lcontent {
  padding-right: 415px;
}
.screenbox .screencontent .contentbox .rcontent img {
  width: 415px;
  height: 540px;
}




#MsgReaDiv {
  float: right;
  font-size: 12px;
  color: #f26e6b;
}
.Fwdmargin {
  margin-top: 30px;
}
