/* LESS Document */
/* LESS Document */
/* 清除浮动 */
/*常用颜色*/
/*常用字号*/
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/*边框圆角*/
/* 圆角  */
/*配模式定位*/
/*下阴影*/
/*弹出窗口半透明灰*/
/*1200屏*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* 背景自适应 */
/*
	jQuery.mmenu CSS
*/
/*
	jQuery.mmenu oncanvas CSS
*/
/*
  jQuery.mmenu CSS
*/
/*
  jQuery.mmenu oncanvas CSS
*/
.mm-hidden {
  display: none !important;
}
.mm-wrapper {
  overflow-x: hidden;
  position: relative;
}
.mm-menu,
.mm-menu > .mm-panel {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.mm-menu {
  background: inherit;
  display: block;
  overflow: hidden;
  padding: 0;
}
.mm-panel {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.mm-panel.mm-opened {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.mm-panel.mm-subopened {
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -o-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
.mm-panel.mm-highest {
  z-index: 1;
}
.mm-menu > .mm-panel {
  background: inherit;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  margin-top: 100px;
}
.mm-menu > .mm-panel.mm-hasnavbar {
  padding-top: 40px;
}
.mm-menu > .mm-panel:before,
.mm-menu > .mm-panel:after {
  content: '';
  display: block;
  height: 20px;
}
.mm-vertical .mm-panel {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
.mm-vertical .mm-listview .mm-panel,
.mm-listview .mm-vertical .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;
}
.mm-vertical .mm-listview .mm-panel .mm-listview > li:last-child:after,
.mm-listview .mm-vertical .mm-panel .mm-listview > li:last-child:after {
  border-color: transparent;
}
.mm-vertical li.mm-opened > .mm-panel,
li.mm-vertical.mm-opened > .mm-panel {
  display: block;
}
.mm-vertical .mm-listview > li > .mm-next,
.mm-listview > li.mm-vertical > .mm-next {
  height: 40px;
  bottom: auto;
}
.mm-vertical .mm-listview > li > .mm-next:after,
.mm-listview > li.mm-vertical > .mm-next:after {
  top: 16px;
  bottom: auto;
}
.mm-vertical .mm-listview > li.mm-opened > .mm-next:after,
.mm-listview > li.mm-vertical.mm-opened > .mm-next:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mm-navbar {
  border-bottom: 1px solid transparent;
  text-align: center;
  line-height: 20px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.mm-navbar > a {
  text-decoration: none;
  display: block;
  padding: 10px 0;
}
.mm-navbar > a:hover {
  text-decoration: none;
}
.mm-navbar .mm-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mm-navbar .mm-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.mm-navbar .mm-btn:first-child {
  padding-left: 20px;
  left: 0;
}
.mm-navbar .mm-btn:last-child {
  padding-right: 20px;
  right: 0;
}
.mm-listview,
.mm-listview > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
}
.mm-listview {
  font: inherit;
  font-size: 14px;
}
.mm-listview a,
.mm-listview a:hover {
  text-decoration: none;
}
.mm-listview > li {
  position: relative;
}
.mm-listview > li > a,
.mm-listview > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  line-height: 20px;
  display: block;
  padding: 15px 10px 15px 20px;
  margin: 0;
}
.mm-listview > li > a.mm-arrow,
.mm-listview > li > span.mm-arrow {
  padding-right: 50px;
}
.mm-listview > li:not(.mm-divider):after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.mm-listview > li:not(.mm-divider):after {
  left: 20px;
}
.mm-listview .mm-next {
  background: rgba(3, 2, 1, 0);
  width: 50px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.mm-listview .mm-next:before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.mm-listview .mm-next + a,
.mm-listview .mm-next + span {
  margin-right: 50px;
}
.mm-listview .mm-next.mm-fullsubopen {
  width: 100%;
}
.mm-listview .mm-next.mm-fullsubopen:before {
  border-left: none;
}
.mm-listview .mm-next.mm-fullsubopen + a,
.mm-listview .mm-next.mm-fullsubopen + span {
  padding-right: 50px;
  margin-right: 0;
}
.mm-menu > .mm-panel > .mm-listview {
  /*  margin-left: -20px;
  margin-right: -20px;  */

}
.mm-menu > .mm-panel > .mm-listview.mm-first {
  margin-top: -20px;
}
.mm-menu > .mm-panel > .mm-listview.mm-last {
  padding-bottom: 20px;
}
.mm-prev:before,
.mm-next:after,
.mm-arrow:after {
  content: '';
  border: 2px solid transparent;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mm-prev:before {
  border-right: none;
  border-bottom: none;
  left: 20px;
}
.mm-next:after,
.mm-arrow:after {
  border-top: none;
  border-left: none;
  right: 20px;
}
.mm-divider {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px;
}
.mm-listview > li.mm-spacer {
  padding-top: 40px;
}
.mm-listview > li.mm-spacer > .mm-next {
  top: 40px;
}
.mm-listview > li.mm-spacer.mm-divider {
  padding-top: 25px;
}
.mm-menu {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.7);
}
.mm-menu .mm-navbar {
  border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu .mm-navbar > a {
  color: rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-navbar .mm-btn:before,
.mm-menu .mm-navbar .mm-btn:after {
  border-color: rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-listview > li:after {
  border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu .mm-listview > li .mm-prev:before,
.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after {
  border-color: rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-listview > li .mm-prev:after,
.mm-menu .mm-listview > li .mm-next:before {
  border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu .mm-listview li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(0, 0, 0, 0.05);
}
.mm-menu .mm-divider {
  background: rgba(0, 0, 0, 0.05);
}
/*
  jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
  box-sizing: border-box;
  position: relative;
}
.mm-slideout {
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
}
html.mm-opened {
  overflow-x: hidden;
  position: relative;
}
html.mm-opened body {
  overflow: hidden;
}
html.mm-opened .mm-page {
  min-height: 100vh;
}
html.mm-background .mm-page {
  background: inherit;
}
#mm-blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block;
}
.mm-menu.mm-offcanvas {
  display: none;
}
.mm-menu.mm-current {
  display: block;
}
.mm-menu {
  width: 60%;
  min-width: 140px;
  max-width: 440px;
}
html.mm-opening .mm-slideout {
  -webkit-transform: translate(60%, 0);
  -moz-transform: translate(60%, 0);
  -ms-transform: translate(60%, 0);
  -o-transform: translate(60%, 0);
  transform: translate(60%, 0);
}
@media all and (max-width: 175px) {
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(140px, 0);
    -moz-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    -o-transform: translate(140px, 0);
    transform: translate(140px, 0);
  }
}
@media all and (min-width: 550px) {
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(440px, 0);
    -moz-transform: translate(440px, 0);
    -ms-transform: translate(440px, 0);
    -o-transform: translate(440px, 0);
    transform: translate(440px, 0);
  }
}
/*
  jQuery.mmenu autoHeight addon CSS
*/
.mm-menu.mm-top.mm-autoheight,
.mm-menu.mm-bottom.mm-autoheight {
  max-height: 80%;
}
.mm-menu.mm-top.mm-autoheight.mm-fullscreen,
.mm-menu.mm-bottom.mm-autoheight.mm-fullscreen {
  max-height: 100%;
}
.mm-menu.mm-measureheight > .mm-panel {
  bottom: auto !important;
  height: auto !important;
}
/*
  jQuery.mmenu counters addon CSS
*/
em.mm-counter {
  font: inherit;
  font-size: 14px;
  font-style: normal;
  text-indent: 0;
  line-height: 20px;
  display: block;
  margin-top: -10px;
  position: absolute;
  right: 45px;
  top: 50%;
}
em.mm-counter + a.mm-next {
  padding-left: 40px;
}
em.mm-counter + a.mm-next + a,
em.mm-counter + a.mm-next + span {
  margin-right: 90px;
}
em.mm-counter + a.mm-fullsubopen {
  padding-left: 0;
}
.mm-vertical > .mm-counter {
  top: 12px;
  margin-top: 0;
}
.mm-vertical.mm-spacer > .mm-counter {
  margin-top: 40px;
}
.mm-nosubresults > .mm-counter {
  display: none;
}
.mm-menu em.mm-counter {
  color: rgba(0, 0, 0, 0.3);
}
/*
  jQuery.mmenu dividers addon CSS
*/
.mm-divider > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  line-height: 25px;
}
.mm-divider.mm-opened a.mm-next:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mm-collapsed:not(.mm-uncollapsed) {
  display: none;
}
.mm-fixeddivider {
  background: inherit;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mm-fixeddivider:after {
  content: none !important;
  display: none !important;
}
.mm-hasdividers .mm-fixeddivider {
  display: block;
}
.mm-menu .mm-fixeddivider span {
  background: rgba(0, 0, 0, 0.05);
}
/*
  jQuery.mmenu dragOpen addon CSS
*/
html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/*
  jQuery.mmenu navbar addon CSS
*/
.mm-menu > .mm-navbar {
  background: inherit;
  padding: 0;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mm-menu > .mm-navbar.mm-hasbtns {
  padding: 0 40px;
}
.mm-navbar-bottom {
  border-top: 1px solid transparent;
  top: auto;
  border-bottom: none;
  bottom: 0;
}
.mm-navbar-2 > a,
.mm-navbar-3 > a,
.mm-navbar-4 > a,
.mm-navbar-5 > a,
.mm-navbar-6 > a {
  display: block;
  float: left;
}
.mm-navbar-2 > a {
  width: 50%;
}
.mm-navbar-3 > a {
  width: 33.33%;
}
.mm-navbar-4 > a {
  width: 25%;
}
.mm-navbar-5 > a {
  width: 20%;
}
.mm-navbar-6 > a {
  width: 16.66%;
}
.mm-close {
  text-align: right;
}
.mm-close:after {
  content: 'x';
}
.mm-menu.mm-hassearch > .mm-navbar-top {
  top: 40px;
}
.mm-menu.mm-hasnavbar .mm-panel .mm-navbar {
  display: none;
}
.mm-menu.mm-hasnavbar-top .mm-panel,
.mm-menu.mm-hasnavbar-top .mm-fixeddivider {
  top: 40px;
}
.mm-menu.mm-hasnavbar-top.mm-hassearch .mm-panel,
.mm-menu.mm-hasnavbar-top.mm-hassearch .mm-fixeddivider {
  top: 80px;
}
.mm-menu.mm-hasnavbar-bottom .mm-panel {
  bottom: 40px;
}
/*
  jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
  box-sizing: border-box;
}
.mm-menu > .mm-search {
  background: inherit;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mm-search {
  height: 40px;
  width: 100%;
  padding: 10px 10px 0 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.mm-search input {
  border: none;
  border-radius: 25px;
  font: inherit;
  font-size: 14px;
  line-height: 25px;
  outline: none;
  display: block;
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 0 10px;
}
.mm-search input::-ms-clear {
  display: none;
}
.mm-panel.mm-hassearch {
  padding-top: 40px;
}
.mm-panel.mm-hassearch.mm-hasnavbar {
  padding-top: 80px;
}
.mm-panel.mm-hassearch.mm-hasnavbar .mm-search {
  top: 40px;
}
.mm-noresultsmsg {
  text-align: center;
  font-size: 21px;
  display: none;
  padding: 40px 0;
}
.mm-noresults .mm-noresultsmsg {
  display: block;
}
.mm-noresults .mm-indexer {
  display: none !important;
}
.mm-menu li.mm-nosubresults > a.mm-next {
  display: none;
}
.mm-menu li.mm-nosubresults > a.mm-next + a,
.mm-menu li.mm-nosubresults > a.mm-next + span {
  padding-right: 10px;
}
.mm-menu.mm-hassearch .mm-panel,
.mm-menu.mm-hassearch .mm-fixeddivider {
  top: 40px;
}
.mm-menu .mm-search input {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
}
.mm-menu .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3);
}
/*
  jQuery.mmenu sectionIndexer addon CSS
*/
.mm-indexer {
  background: inherit;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  width: 20px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: -100px;
  z-index: 3;
  -webkit-transition: right 0.4s ease;
  -moz-transition: right 0.4s ease;
  -ms-transition: right 0.4s ease;
  -o-transition: right 0.4s ease;
  transition: right 0.4s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mm-indexer a {
  text-decoration: none;
  display: block;
  height: 3.71%;
}
.mm-indexer ~ .mm-panel.mm-hasindexer {
  padding-right: 40px;
}
.mm-hasindexer .mm-indexer {
  right: 0;
}
.mm-hasindexer .mm-fixeddivider {
  right: 20px;
}
.mm-hasnavbar-top .mm-indexer {
  top: 50px;
}
.mm-hasnavbar-bottom .mm-indexer {
  bottom: 50px;
}
.mm-hassearch .mm-indexer {
  top: 50px;
}
.mm-hassearch.mm-hasnavbar-top .mm-indexer {
  top: 90px;
}
.mm-menu .mm-indexer a {
  color: rgba(0, 0, 0, 0.3);
}
/*
  jQuery.mmenu toggles addon CSS
*/
input.mm-toggle,
input.mm-check {
  position: absolute;
  left: -10000px;
}
label.mm-toggle,
label.mm-check {
  margin: 0;
  position: absolute;
  bottom: 50%;
  z-index: 2;
}
label.mm-toggle:before,
label.mm-check:before {
  content: '';
  display: block;
}
label.mm-toggle {
  border-radius: 30px;
  width: 50px;
  height: 30px;
  margin-bottom: -15px;
}
label.mm-toggle:before {
  border-radius: 30px;
  width: 28px;
  height: 28px;
  margin: 1px;
}
input.mm-toggle:checked ~ label.mm-toggle:before {
  float: right;
}
label.mm-check {
  width: 30px;
  height: 30px;
  margin-bottom: -15px;
}
label.mm-check:before {
  border-left: 3px solid;
  border-bottom: 3px solid;
  width: 40%;
  height: 20%;
  margin: 25% 0 0 20%;
  opacity: 0.1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input.mm-check:checked ~ label.mm-check:before {
  opacity: 1;
}
label.mm-toggle,
label.mm-check {
  right: 20px;
}
label.mm-toggle + a,
label.mm-toggle + span {
  padding-right: 80px;
}
label.mm-check + a,
label.mm-check + span {
  padding-right: 60px;
}
a.mm-next + label.mm-toggle,
a.mm-next + label.mm-check {
  right: 60px;
}
a.mm-next + label.mm-toggle + a,
a.mm-next + label.mm-toggle + span,
a.mm-next + label.mm-check + a,
a.mm-next + label.mm-check + span {
  margin-right: 50px;
}
a.mm-next + label.mm-toggle + a,
a.mm-next + label.mm-toggle + span {
  padding-right: 70px;
}
a.mm-next + label.mm-check + a,
a.mm-next + label.mm-check + span {
  padding-right: 50px;
}
em.mm-counter + a.mm-next + label.mm-toggle,
em.mm-counter + a.mm-next + label.mm-check {
  right: 100px;
}
em.mm-counter + a.mm-next + label.mm-toggle + a,
em.mm-counter + a.mm-next + label.mm-toggle + span,
em.mm-counter + a.mm-next + label.mm-check + a,
em.mm-counter + a.mm-next + label.mm-check + span {
  margin-right: 90px;
}
.mm-menu label.mm-toggle {
  background: rgba(0, 0, 0, 0.1);
}
.mm-menu label.mm-toggle:before {
  background: #f3f3f3;
}
.mm-menu input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963;
}
.mm-menu label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.7);
}
/*
  jQuery.mmenu borderstyle extension CSS
*/
.mm-menu.mm-border-none .mm-listview > li:after,
.mm-listview.mm-border-none > li:after {
  content: none;
}
.mm-menu.mm-border-full .mm-listview > li:after,
.mm-listview.mm-border-full > li:after {
  left: 0 !important;
}
/*
  jQuery.mmenu effects extension CSS
*/
html.mm-effect-zoom-menu .mm-menu.mm-offcanvas {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}
html.mm-effect-zoom-menu.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
html.mm-effect-zoom-menu.mm-opening .mm-menu.mm-offcanvas {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0);
}
html.mm-effect-zoom-menu.mm-right.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(30%, 0, 0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
}
html.mm-effect-zoom-menu.mm-right.mm-opening .mm-menu.mm-offcanvas {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0);
}
html.mm-effect-slide-menu .mm-menu.mm-offcanvas {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}
html.mm-effect-slide-menu.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: translate3d(-30%, 0, 0);
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -o-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
html.mm-effect-slide-menu.mm-opening .mm-menu.mm-offcanvas {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
html.mm-effect-slide-menu.mm-right.mm-opened .mm-menu.mm-offcanvas {
  -webkit-transform: translate3d(30%, 0, 0);
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -o-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
html.mm-effect-slide-menu.mm-right.mm-opening .mm-menu.mm-offcanvas {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.mm-menu.mm-effect-zoom-panels .mm-panel {
  -webkit-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -moz-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -ms-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -o-transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  transform: scale(1.5, 1.5) translate3d(100%, 0, 0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-property: -webkit-transform, left;
  -moz-transition-property: -moz-transform, left;
  -ms-transition-property: -ms-transform, left;
  -o-transition-property: -o-transform, left;
  transition-property: transform, left;
}
.mm-menu.mm-effect-zoom-panels .mm-panel.mm-opened {
  -webkit-transform: scale(1, 1) translate3d(0%, 0, 0);
  -moz-transform: scale(1, 1) translate3d(0%, 0, 0);
  -ms-transform: scale(1, 1) translate3d(0%, 0, 0);
  -o-transform: scale(1, 1) translate3d(0%, 0, 0);
  transform: scale(1, 1) translate3d(0%, 0, 0);
}
.mm-menu.mm-effect-zoom-panels .mm-panel.mm-opened.mm-subopened {
  -webkit-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -ms-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  -o-transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
  transform: scale(0.7, 0.7) translate3d(-30%, 0, 0);
}
.mm-menu.mm-effect-slide-panels-0 .mm-panel.mm-subopened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mm-menu.mm-effect-slide-panels-100 .mm-panel.mm-subopened {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/*
  jQuery.mmenu fullscreen extension CSS
*/
.mm-menu.mm-fullscreen {
  width: 100%;
  min-width: 140px;
  max-width: 10000px;
}
html.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
@media all and (max-width: 140px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(140px, 0);
    -moz-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    -o-transform: translate(140px, 0);
    transform: translate(140px, 0);
  }
}
@media all and (min-width: 10000px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(10000px, 0);
    -moz-transform: translate(10000px, 0);
    -ms-transform: translate(10000px, 0);
    -o-transform: translate(10000px, 0);
    transform: translate(10000px, 0);
  }
}
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
@media all and (max-width: 140px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(-140px, 0);
    -moz-transform: translate(-140px, 0);
    -ms-transform: translate(-140px, 0);
    -o-transform: translate(-140px, 0);
    transform: translate(-140px, 0);
  }
}
@media all and (min-width: 10000px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(-10000px, 0);
    -moz-transform: translate(-10000px, 0);
    -ms-transform: translate(-10000px, 0);
    -o-transform: translate(-10000px, 0);
    transform: translate(-10000px, 0);
  }
}
.mm-menu.mm-fullscreen.mm-top,
.mm-menu.mm-fullscreen.mm-bottom {
  height: 100%;
  min-height: 140px;
  max-height: 10000px;
}
html.mm-opened.mm-fullscreen .mm-page {
  box-shadow: none !important;
}
/*
  jQuery.mmenu multiline extension CSS
*/
.mm-menu.mm-multiline .mm-listview > li > a,
.mm-menu.mm-multiline .mm-listview > li > span,
.mm-listview.mm-multiline > li .mm-listview > li.mm-multiline > a,
.mm-listview.mm-multiline > li .mm-listview > li.mm-multiline > span {
  text-overflow: clip;
  white-space: normal;
}
/*
  jQuery.mmenu pageshadow extension CSS
*/
.mm-menu.mm-pageshadow:after {
  content: "";
  display: block;
  width: 20px;
  height: 120%;
  position: absolute;
  left: 100%;
  top: -10%;
  z-index: 99;
}
.mm-menu.mm-pageshadow.mm-right:after {
  left: auto;
  right: 100%;
}
.mm-menu.mm-pageshadow.mm-next:after,
.mm-menu.mm-pageshadow.mm-front:after {
  content: none;
  display: none;
}
.mm-menu.mm-pageshadow:after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/*
  jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.mm-menu.mm-right {
  left: auto;
  right: 0;
}
.mm-menu.mm-bottom {
  top: auto;
  bottom: 0;
}
html.mm-right.mm-opening .mm-slideout {
  -webkit-transform: translate(-80%, 0);
  -moz-transform: translate(-80%, 0);
  -ms-transform: translate(-80%, 0);
  -o-transform: translate(-80%, 0);
  transform: translate(-80%, 0);
}
@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-140px, 0);
    -moz-transform: translate(-140px, 0);
    -ms-transform: translate(-140px, 0);
    -o-transform: translate(-140px, 0);
    transform: translate(-140px, 0);
  }
}
@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-440px, 0);
    -moz-transform: translate(-440px, 0);
    -ms-transform: translate(-440px, 0);
    -o-transform: translate(-440px, 0);
    transform: translate(-440px, 0);
  }
}
/*
  jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-slideout {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  z-index: 0 !important;
}
.mm-menu.mm-front {
  z-index: 1;
}
.mm-menu.mm-front,
.mm-menu.mm-next {
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.mm-menu.mm-front.mm-right,
.mm-menu.mm-next.mm-right {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.mm-menu.mm-top {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.mm-menu.mm-bottom {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
html.mm-opening .mm-menu.mm-front,
html.mm-opening .mm-menu.mm-next {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  height: 80%;
  min-height: 140px;
  max-height: 880px;
}
/*
  jQuery.mmenu themes extension CSS
*/
.mm-menu.mm-theme-dark {
  background: #333333;
  color: rgba(255, 255, 255, 0.8);
}
.mm-menu.mm-theme-dark .mm-navbar {
  border-color: rgba(0, 0, 0, 0.15);
}
.mm-menu.mm-theme-dark .mm-navbar > a {
  color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-dark .mm-navbar .mm-btn:after {
  border-color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-listview > li:after {
  border-color: rgba(0, 0, 0, 0.15);
}
.mm-menu.mm-theme-dark .mm-listview > li .mm-prev:before,
.mm-menu.mm-theme-dark .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-dark .mm-listview > li .mm-arrow:after {
  border-color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-listview > li .mm-prev:after,
.mm-menu.mm-theme-dark .mm-listview > li .mm-next:before {
  border-color: rgba(0, 0, 0, 0.15);
}
.mm-menu.mm-theme-dark .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-dark .mm-listview > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-dark.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-dark.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-dark .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-dark .mm-listview li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(255, 255, 255, 0.05);
}
.mm-menu.mm-theme-dark .mm-divider {
  background: rgba(255, 255, 255, 0.05);
}
.mm-menu.mm-theme-dark label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.8);
}
.mm-menu.mm-theme-dark em.mm-counter {
  color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-fixeddivider span {
  background: rgba(255, 255, 255, 0.05);
}
.mm-menu.mm-pageshadow.mm-theme-dark:after {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.mm-menu.mm-theme-dark .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}
.mm-menu.mm-theme-dark .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-indexer a {
  color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark label.mm-toggle {
  background: rgba(0, 0, 0, 0.15);
}
.mm-menu.mm-theme-dark label.mm-toggle:before {
  background: #333333;
}
.mm-menu.mm-theme-dark input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963;
}
.mm-menu.mm-theme-white {
  background: white;
  color: rgba(0, 0, 0, 0.6);
}
.mm-menu.mm-theme-white .mm-navbar {
  border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-white .mm-navbar > a {
  color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-white .mm-navbar .mm-btn:after {
  border-color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-listview > li:after {
  border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-white .mm-listview > li .mm-prev:before,
.mm-menu.mm-theme-white .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-white .mm-listview > li .mm-arrow:after {
  border-color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-listview > li .mm-prev:after,
.mm-menu.mm-theme-white .mm-listview > li .mm-next:before {
  border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-white .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-white .mm-listview > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.05);
}
.mm-menu.mm-theme-white.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-white.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-white .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-white .mm-listview li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(0, 0, 0, 0.03);
}
.mm-menu.mm-theme-white .mm-divider {
  background: rgba(0, 0, 0, 0.03);
}
.mm-menu.mm-theme-white label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6);
}
.mm-menu.mm-theme-white em.mm-counter {
  color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-fixeddivider span {
  background: rgba(0, 0, 0, 0.03);
}
.mm-menu.mm-pageshadow.mm-theme-white:after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.mm-menu.mm-theme-white .mm-search input {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
}
.mm-menu.mm-theme-white .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-indexer a {
  color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white label.mm-toggle {
  background: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-white label.mm-toggle:before {
  background: white;
}
.mm-menu.mm-theme-white input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963;
}
.mm-menu.mm-theme-black {
  background: black;
  color: rgba(255, 255, 255, 0.6);
}
.mm-menu.mm-theme-black .mm-navbar {
  border-color: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black .mm-navbar > a {
  color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-navbar .mm-btn:before,
.mm-menu.mm-theme-black .mm-navbar .mm-btn:after {
  border-color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-listview > li:after {
  border-color: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black .mm-listview > li .mm-prev:before,
.mm-menu.mm-theme-black .mm-listview > li .mm-next:after,
.mm-menu.mm-theme-black .mm-listview > li .mm-arrow:after {
  border-color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-listview > li .mm-prev:after,
.mm-menu.mm-theme-black .mm-listview > li .mm-next:before {
  border-color: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-black .mm-listview > li.mm-selected > span {
  background: rgba(255, 255, 255, 0.3);
}
.mm-menu.mm-theme-black.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-black.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-black .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-black .mm-listview li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black .mm-divider {
  background: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.6);
}
.mm-menu.mm-theme-black em.mm-counter {
  color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-fixeddivider span {
  background: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-pageshadow.mm-theme-black:after {
  content: none;
  display: none;
}
.mm-menu.mm-theme-black .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}
.mm-menu.mm-theme-black .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-indexer a {
  color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black label.mm-toggle {
  background: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black label.mm-toggle:before {
  background: black;
}
.mm-menu.mm-theme-black input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963;
}
/*# sourceMappingURL=jquery.mmenu.all.css.map */
/* 2015-5-18 */
.mbnavadd {
  display: none;
}
.mm-menu {
  display: none;
  background-image: url(../../images/sidebarbg.png);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}
.mm-menu h2 {
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-bottom: solid 1px #a18f69;
}
.mm-menu h2 a {
  position: relative;
  font-size: 18px;
  padding-left: 65px;
  height: 42px;
  display: block;
  color: #a18f69;
}
.mm-menu h2 a img {
  position: absolute;
  top: 28px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.mm-menu h2 .aLogin {
  position: absolute;
  right: 20px;
  font-size: 25px;
}
.mm-menu ul li {
  text-align: left;
  font-size: 16px;
  color: #fff;
  border-bottom: solid 1px #a18f69;
}
.mm-menu ul li a {
  color: #a18f69 !important;
}
.mm-menu ul li a:hover {
  color: #fff;
}
.mm-menu ul .selecded {
  background: #a18f69;
}
.mm-menu ul .selecded a {
  color: #fff !important;
}
/* 头部导航 */
.header {
  display: block;
  background-color: #ffffff;
}
.header .nav_bg {
  width: 100%;
  height: 40px;
  background: #222222;
  position: absolute;
  display: none;
}
/* 顶部共用 */
.topheader {
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  line-height: 50px;
}
.topheader article {
  position: relative;
}
.topheader h3 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
.topheader h3 a {
  padding: 0 15px;
  color: #ffffff;
}
.topheader .webLR {
  display: none;
}
.topheader .mbLR {
  display: block;
}
.topheader h2 {
  font-family: "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -80px;
}
.topheader h2 img {
  padding: 8px 0 0 10px;
  float: left;
}
.topheader h2 p {
  display: none;
}
.topheader dl {
  display: none;
}
.topheader h4 {
  font-size: 26px;
  padding-left: 20px;
  line-height: 50px;
}
.topheader h4 a {
  color: #ffffff;
}
.topheader h6 {
  position: absolute;
  top: 0;
  left: 60px;
}
.topheader nav {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.topheader nav a {
  font-family: "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  color: #ffffff;
  display: inline-block;
  display: none;
  font-size: 14px;
}
.topheader nav a:last-child {
  display: inline-block;
}
.topheader nav a i {
  display: none;
  border-width: 6px;
  border-color: transparent transparent #ea3a3c transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  margin-left: -30px;
}
.topheader nav a em {
  border-width: 6px;
  border-color: #cccccc transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-left: 2px;
}
.topheader section {
  display: none;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  padding: 30px 20px;
  border-top: 1px solid #ea3a3c;
  border-bottom: 1px solid #ea3a3c;
}
.topheader section dl {
  display: block !important;
  margin-bottom: 30px;
}
.topheader section dt {
  border-bottom: 3px solid #cccccc;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
}
.topheader section dt a {
  display: inline-block;
  padding: 10px 22px 0 0;
  color: #333333;
  font-size: 12px;
}
.topheader section dt h5 {
  display: inline-block;
  font-size: 14px;
  height: 100%;
  border-bottom: 3px solid #ea3a3c;
  color: #333333;
}
.topheader section dd {
  line-height: 20px;
}
.topheader section dd a:hover {
  color: #ea3a3c;
}
.topheader h6 #school:hover nav a i {
  display: inline-block;
}
.topheader h6 #school:hover section {
  display: block;
}
@media (min-width: 640px) {
  .topheader nav a {
    display: inline-block;
    padding-right: 50px;
  }
  .topheader section {
    padding: 30px 0 10px;
  }
  .topheader section dl {
    width: 28%;
    margin: 0 2.6%;
    height: 200px;
    float: left;
  }
}
@media (min-width: 768px) {
  .topheader h6 {
    left: 20px;
  }
  .topheader h4 {
    display: none;
  }
  .topheader section {
    width: 650px;
    border: 1px solid #ea3a3c;
    top: 50px;
    left: 50%;
    margin-left: -325px;
    padding-left: 30px 0 0;
  }
  .topheader section dl {
    padding-left: 0;
    height: 200px;
  }
  .topheader section dt {
    display: block;
    border-left: 0;
    float: none;
    font-size: 14px;
  }
  .topheader section dd a {
    height: auto;
    padding: 10px 12px 0 0;
    display: inline-block;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .topheader h6 {
    left: 0;
  }
  .topheader section {
    left: 320px;
    margin-left: 0;
  }
  article {
    width: 1200px;
    margin: 0 auto;
  }
  dl dt {
    display: block;
  }
}
/* 项目头部 */
.proheader {
  height: 200px;
}
.proheader .protitle {
  *zoom: 1;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 15px;
}
.proheader .protitle:after {
  content: " ";
  clear: both;
  display: table;
}
.proheader .protitle h1 {
  font-family: "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}
.proheader .protitle h1 strong {
  font-size: 48px;
  font-weight: bold;
  padding-right: 2px;
}
.proheader .protitle h1 span {
  font-size: 14px;
  color: #999999;
  display: block;
  letter-spacing: 1px;
}
.proheader .protitle p {
  display: none;
  overflow: hidden;
  margin-top: 15px;
  text-align: center;
  color: #999999;
}
.proheader .protitle p span {
  display: block;
  line-height: 20px;
}
.proheader .protitle p span strong {
  color: #d73240;
  font-size: 18px;
  padding: 0 10px;
}
.proheader .pro15th {
  display: none;
}
.proheader .prosearch {
  width: 280px;
  margin: 0 auto;
}
.proheader .prosearch input[type="text"] {
  width: 240px;
}
.proheader .prosearch input[placeholder] {
  color: #999999;
}
.proheader .prosearch input[type="button"] {
  width: 40px;
  padding: 0;
  line-height: 40px;
  font-size: 26px;
}
.proheader .prosearch p {
  line-height: 60px;
  font-size: 12px;
  color: #999999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.proheader .prosearch p a {
  padding: 0 10px;
  color: #666666;
}
@media (min-width: 480px) {
  .proheader .protitle {
    width: 440px;
  }
  .proheader .protitle h1 {
    width: 48%;
    float: left;
    padding-right: 15px;
  }
  .proheader .protitle p {
    display: block;
    padding-left: 15px;
    border-left: solid 1px #ddd;
  }
  .proheader .prosearch {
    width: 440px;
  }
  .proheader .prosearch input[type="text"] {
    width: 400px;
  }
  .proheader .prosearch p {
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .proheader {
    height: 120px;
    position: relative;
  }
  .proheader .protitle {
    margin: 0;
  }
  .proheader .prosearch {
    position: absolute;
    top: 30px;
    right: 0;
    width: 260px;
  }
  .proheader .prosearch input[type="text"] {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .proheader .pro15th {
    display: block;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -60px;
  }
}
@media (min-width: 1200px) {
  .proheader {
    width: 1200px;
    margin: 0 auto;
  }
  .proheader .prosearch {
    width: 400px;
  }
  .proheader .prosearch input[type="text"] {
    width: 360px;
  }
}
/* 项目导航 */
.navbar {
  display: none;
}
@media (min-width: 768px) {
  .navbar {
    display: block;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
  }
  .navbar li {
    width: 12.5%;
    float: left;
    text-align: center;
  }
  .navbar li a {
    width: 100%;
    box-sizing: border-box;
  }
  .navbar li a:hover {
    border-right: none;
    display: block;
  }
  .navbar li.selecded {
    display: block;
  }
  .navbar li.selecded a {
    color: #ffffff;
  }
  .navbar li .navbar2 {
    display: none;
    position: absolute;
    z-index: 999;
    float: left;
  }
  .navbar li .navbar2 li {
    float: none;
    height: 40px;
    min-width: 100px;
    line-height: 40px;
  }
  .navbar li:hover .navbar2 {
    display: block;
  }
  .navbar li:last-child .navbar2 {
    float: right;
  }
}
@media (min-width: 992px) {
  .navbar a {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .navbar ul {
    width: 1200px;
    margin: 0 auto;
  }
  .navbar li .navbar {
    width: auto;
  }
}
@media (min-width: 768px) {
  #sidebar {
    display: none;
  }
}
/* 底部 */
footer {
  background-image: url(../../images/footerbg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  padding: 0 30px;
}
footer .profooter {
  padding-top: 40px;
  *zoom: 1;
}
footer .profooter:after {
  content: " ";
  clear: both;
  display: table;
}
footer .profooter dl {
  width: 220px;
  color: #fff;
  margin: 0 auto 20px;
  font-size: 14px;
}
footer .profooter dl h3 {
  display: none;
}
footer .profooter dl i {
  display: none;
}
footer .profooter dt {
  margin-bottom: 10px;
}
footer .profooter dt strong {
  font-size: 30px;
  font-weight: 500;
  display: block;
  font-family: "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
footer .profooter dd:last-child {
  display: none;
}
footer .profooter article {
  overflow: hidden;
  color: #ffffff;
  margin-top: 20px;
  width: 250px;
  margin: 0 auto;
}
footer .profooter article img {
  width: 100px;
  height: 100px;
  padding-right: 10px;
  float: left;
}
footer .profooter article h3 {
  color: #fbe4ad;
  font-size: 20px;
  padding: 5px 0;
}
footer .profooter article p {
  font-size: 12px;
  display: block;
}
footer .copyright {
  padding: 30px 10px 40px;
  text-align: center;
  font-size: 12px;
  color: #999999;
}
.gotop {
  display: none;
  width: 40px;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 6px 5px 0 5px;
  text-align: center;
  background-color: #1a2122;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
}
.gotop a {
  color: #ffffff;
}
.gotop a strong {
  display: block;
  font-size: 18px;
  line-height: 10px;
}
@media (min-width: 480px) {
  footer .profooter dl {
    width: 48%;
    float: left;
    margin: 0 auto;
  }
  footer .profooter dl dt {
    margin-bottom: 0;
  }
  footer .profooter dl dd:last-child {
    display: block;
  }
  footer .profooter article {
    width: auto;
  }
}
@media (min-width: 768px) {
  footer .profooter dl {
    width: 68%;
    color: #fff;
  }
  footer .profooter dl h3 {
    display: block;
    color: #fbe4ad;
    font-size: 20px;
  }
  footer .profooter dt {
    font-size: 14px;
    width: 40%;
    float: left;
    box-sizing: border-box;
  }
  footer .profooter dt strong {
    font-size: 26px;
  }
  footer .profooter dd {
    position: relative;
    width: 30%;
    float: left;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    border-right: solid 1px #555555;
    border-left: solid 1px #555555;
  }
  footer .profooter article img {
    width: 100px;
    height: 100px;
    float: left;
  }
  footer .copyright {
    padding: 30px 50px 40px;
  }
}
@media (min-width: 992px) {
  footer .profooter dl {
    width: 66.66%;
  }
  footer .profooter dl i {
    display: block;
    position: absolute;
    color: #fbe4ad;
    width: 56px;
    height: 56px;
    left: 50px;
    top: 15px;
    font-size: 56px;
  }
  footer .profooter dt {
    width: 50%%;
  }
  footer .profooter dd {
    position: relative;
    width: 50%%;
    padding: 20px 0 20px 120px;
  }
  footer .profooter article {
    width: 33.33%;
    padding-left: 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  footer .profooter {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 80px 0;
    box-sizing: border-box;
  }
}
/* 登录 */
.toplogin {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  padding-top: 100px;
  top: 0;
  background-color: rgba(50, 50, 50, 0.7);
}
.toplogin .regbox {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  z-index: 999;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #ffffff;
}
.toplogin section {
  width: 360px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
}
.toplogin section .closebox {
  position: absolute;
  top: 0;
  right: -55px;
  width: 50px;
  height: 50px;
  background-color: #999999;
  text-align: center;
}
.toplogin section .closebox i {
  font-size: 20px;
  line-height: 50px;
}
.toplogin section h2 {
  text-align: center;
  font-size: 24px;
  color: #333333;
  padding-bottom: 20px;
}
.toplogin section li {
  padding-bottom: 20px;
}
.toplogin section li input[type="text"],
.toplogin section li input[type="button"],
.toplogin section li input[type="password"] {
  width: 100%;
}
.toplogin section li input[type="button"] {
  background-color: #a18f69;
  font-size: 18px;
}
.toplogin section li span {
  float: right;
}
.toplogin section li span a {
  color: #a18f69;
  padding-right: 2px;
}
.toplogin section li p {
  color: #d73240;
  font-size: 12px;
}
.toplogin section li p i {
  font-size: 14px;
}
.toplogin section p {
  font-size: 12px;
  line-height: 30px;
}
.toplogin section p span {
  float: right;
}
.toplogin section p span a {
  color: #a18f69;
  padding-right: 2px;
}
.toplogin section p i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
}
.toplogin section p i a {
  color: #ffffff;
}
.toplogin section p i.icon-gfqq {
  background-color: #59a1d2;
}
.toplogin section p i.icon-gfwb {
  background-color: #dc6c6f;
}
/* 注册 */
.topregister {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  padding-top: 100px;
  top: 0;
  background-color: rgba(50, 50, 50, 0.7);
}
.topregister .regbox {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  z-index: 999;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #ffffff;
}
.topregister section {
  width: 360px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
}
.topregister section .closebox2 {
  position: absolute;
  top: 0;
  right: -55px;
  width: 50px;
  height: 50px;
  background-color: #999999;
  text-align: center;
}
.topregister section .closebox2 i {
  font-size: 20px;
  line-height: 50px;
}
.topregister section h2 {
  text-align: center;
  font-size: 24px;
  color: #333333;
  padding-bottom: 20px;
}
.topregister section li {
  padding-bottom: 20px;
}
.topregister section li input[type="text"],
.topregister section li input[type="button"],
.topregister section li input[type="password"] {
  width: 100%;
}
.topregister section li input[type="button"] {
  background-color: #a18f69;
  font-size: 18px;
}
.topregister section li p {
  color: #d73240;
  font-size: 12px;
}
.topregister section li p i {
  font-size: 14px;
  padding-right: 5px;
}
.topregister section li.reghalf input {
  width: 50%;
  box-sizing: border-box;
}
.topregister section p {
  font-size: 12px;
  line-height: 30px;
}
.topregister section p span {
  float: right;
}
.topregister section p span a {
  color: #a18f69;
  padding-right: 2px;
}
.topregister section p i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
}
.topregister section p i a {
  color: #ffffff;
}
.topregister section p i.icon-gfqq {
  background-color: #59a1d2;
}
.topregister section p i.icon-gfwb {
  background-color: #dc6c6f;
}
.noticeLR {
  display: block;
  color: #d73240 !important;
  background-image: url(../images2015/inputnotice.png);
  background-position: 0px 1px;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  font-size: 12px;
  text-indent: 10px;
  color: #f26e6b;
  padding-bottom: 0;
  padding-left: 5px;
  position: absolute;
  line-height: 20px !important;
}
/*JS调用时登录框、注册框样式*/
/*index start*/
.body_main {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.box_title {
  width: 410px;
  height: 80px;
  padding: 0;
  position: relative;
}
.box_title .text_content {
  text-align: center;
  padding: 20px 0 10px 0;
}
.box_title .text_content h1 {
  font-weight: normal;
}
.box_main {
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: #ffffff;
  width: 410px;
  margin: 6% auto 50%;
}
.box_bottom {
  width: 477px;
  height: 7px;
  padding: 0;
}
/*Tooltips*/
.tooltips_main {
  position: absolute;
  left: 0;
  margin: -5px 0 0 2px;
  z-index: 999;
  bottom: -55px;
}
.tooltips_box,
.tooltips,
.msg {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  top: 2px;
}
.tooltips_box {
  line-height: 1.5;
}
.tooltips {
  margin: 0 -2px;
}
.msg {
  color: #f26e6b;
  font-size: 12px;
}
.ov {
  position: absolute;
  left: 30%;
  overflow: hidden;
  width: 15px;
  height: 15px;
  margin: 16px 0 0 0;
  display: inline;
}
.field-all {
  width: 340px;
  margin: 0 auto;
}
.field-all input {
  color: #bbbbba;
  width: 320px;
  padding: 7px 9px;
  border-radius: 3px;
  outline-color: #4ac7e7;
  border: 1px solid #d9d9d9;
  font-size: 15px;
}
/*regist*/
.field-group {
  height: 65px;
  position: relative;
}
.register .form_submit .fieldset .field-group .title {
  float: left;
  width: 120px;
  text-align: right;
  margin: 4px 0 0 0;
  font-size: 14px;
}
.register .form_submit .fieldset .field-group .tips {
  float: left;
  width: 250px;
  color: #8E8E8E;
}
/*end regist*/
.newLoginB {
  display: block;
  text-align: right;
  padding: 10px 12px 0 0;
  color: #1ca3b6;
}
.newclosereg {
  display: block;
  position: absolute;
  right: -46px;
  background: rgba(0, 0, 0, 0.3);
  padding: 4px 13px 4px 18px;
  color: #fff;
  font-size: 22px;
  top: -36px;
  border-radius: 0 3px 3px 0;
}
.newclosereg:hover {
  text-decoration: none;
}
/*手机注册*/
.phoneReg {
  margin: 36px 12px 25px;
  color: #323232;
  font-size: 22px;
  text-align: center;
}
.xieyi input {
  width: 16px;
  height: 16px;
}
#submit,
#loginB {
  width: 100%;
  background: #33b0c4;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
#code_input input {
  vertical-align: middle;
  border: 1px solid #d9d9d9;
}
#code_input input[type="button"] {
  font-size: 16px;
}
#code_input button {
  border-radius: 3px;
  border: none;
  background: #33b0c4;
  color: #fff;
  font-size: 16px;
}
.div_submit {
  margin: 15px 0;
}
.msdl {
  text-align: right;
  color: #989898;
  padding-bottom: 15px;
}
.msdl a {
  color: #1ca3b6;
}
.handphone .msg {
  /*  top: 66px;  */

}
.register,
#login {
  position: relative;
}
/*登录*/
.mianDL {
  overflow: hidden;
}
.mianDL p {
  float: left;
}
.mianDL a {
  display: inline-block;
  float: right;
}
.mianDL a:hover {
  color: #4ebed1;
}
.mianDL input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.hzzh {
  overflow: hidden;
  margin-bottom: 15px;
}
.hzzh p {
  float: right;
}
.hzzh a {
  color: #1ca3b6;
}
.zjdl {
  float: left;
}
.zjdl span {
  color: #656666;
  position: relative;
  top: -15px;
}
.qq {
  background: url(../images2015/qq.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.weibo {
  background: url(../images2015/weibo.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 7px;
}
.qq:hover {
  background: url(../images2015/qqH.png) no-repeat;
}
.weibo:hover {
  background: url(../images2015/weiboH.png) no-repeat;
}
/* 登录注册 */
/* LESS Document */
.notice {
  background-image: url(../images2015/inputnotice.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  font-size: 12px;
  text-indent: 10px;
  line-height: 30px;
  color: #f26e6b;
  padding-bottom: 0;
}
.mbbox ul {
  padding: 20px 10px;
}
.mbbox ul li {
  padding: 5px 0;
  width: 100%;
  color: #666;
}
.mbbox ul li input[type="text"],
.mbbox ul li input[type="password"],
.mbbox ul li input[type="button"] {
  width: 100%;
}
.mbbox ul li.half input {
  width: 50%;
}
.mbbox ul li.half input[type="button"] {
  background-color: #c1c1c2;
}
.mbbox ul li a {
  color: #666;
  line-height: 30px;
}
.mbbox ul li span {
  float: right;
}
.mbbox ul li span a {
  color: #333;
}
.mbbox dl {
  padding: 10px;
  text-align: center;
}
.mbbox dl dt {
  border-bottom: solid 1px #ddd;
  height: 10px;
  position: relative;
  margin-bottom: 30px;
}
.mbbox dl dt h3 {
  position: absolute;
  width: 150px;
  top: 0;
  left: 50%;
  margin-left: -75px;
  background-color: #fff;
  font-size: 14px;
  color: #999;
}
.mbbox dl dd {
  width: 50%;
  float: left;
}
.mbbox dl dd a {
  color: #666;
}
.mbbox dl dd a:hover {
  color: #33b0c4;
}
.mbbox dl dd i {
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.mbbox dl dd i:hover.s1 {
  background-image: url(../images2015/qqbH.png);
}
.mbbox dl dd i:hover.s2 {
  background-image: url(../images2015/weibobH.png);
}
.mbbox dl dd i:hover img {
  opacity: 0;
  filter: alpha(opacity=0);
}
.screenbox {
  display: none;
}
/* 内页头部二级导航 */
